/* roboto-300 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-300italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300italic.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-regular - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500italic.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700italic.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black'), local('Roboto-Black'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900italic - cyrillic-ext_latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900italic.eot'); /* IE9 Compat Modes */
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900italic.woff2') format('woff2'), /* Super Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900italic.woff') format('woff'), /* Modern Browsers */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900italic.ttf') format('truetype'), /* Safari, Android, iOS */ url('../../webfonts/roboto-v20-cyrillic-ext_latin-ext_latin_cyrillic-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
