doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title= config.app.title
		meta(name='robots', content='noindex')
		meta(name='description', content='Login')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,minimal-ui')
		//  Call App Mode on ios devices 
		meta(name='apple-mobile-web-app-capable', content='yes')
		//  Remove Tap Highlight on Windows Phone IE 
		meta(name='msapplication-tap-highlight', content='no')
		//  google fonts css
		link(rel='stylesheet', type='text/css', media='screen, print', href='/css/fonts-googleapis.css')
		//  base css 
		link(rel='stylesheet', type='text/css', media='screen, print', href='/css/vendors.bundle.css')
		link(rel='stylesheet', type='text/css', media='screen, print', href='/css/app.bundle.css')
		link(rel='stylesheet', media='screen, print', href='/css/notifications/noty/noty.css')
		link(rel='stylesheet', media='screen, print', href='/css/notifications/noty/themes/bootstrap-v4.css')
		//  Place favicon.ico in the root directory 
		link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
		link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')

		link(rel='stylesheet', type='text/css', media='screen, print', href='/css/custom.css')
	body
		.page-wrapper
			.page-inner.bg-brand-gradient
				.page-content-wrapper.bg-transparent.m-0
					.height-10.w-100.shadow-lg.px-4.bg-brand-gradient
						.d-flex.align-items-center.container.p-0
							.page-logo.width-mobile-auto.m-0.align-items-center.justify-content-center.p-0.bg-transparent.bg-img-none.shadow-0.height-9
								a.page-logo-link.press-scale-down.d-flex.align-items-center(href='/')
									img(src='/img/logo.png', alt= config.app.title_short, aria-roledescription='logo')
									span.page-logo-text.mr-1= config.app.title_short
					.flex-1(style='background: url(/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;')
						.container.py-4.py-lg-5.my-lg-5.px-4.px-sm-0
							.row
								.col.col-md-6.col-lg-7.hidden-sm-down
								.col-sm-12.col-md-6.col-lg-5.col-xl-4.ml-auto
									span#login-area
										h1.text-white.fw-300.mb-3.d-sm-block.text-center Вход в систему
										.card.p-4.rounded-plus.bg-faded.form-cell
											img(src='/img/auth_logo.png', style='width: 100%; height: auto;', alt= config.app.title, title= config.app.title)
											form#login(name='login', method='POST', action='#', novalidate)
												.form-group
													label.form-label(for='username') Пользователь
													input#username.form-control.form-control-lg(type='text', name='username', required)
													.invalid-feedback Введите ваше имя пользователя!
													.help-block Ваше имя пользователя
												.form-group
													label.form-label(for='password') Пароль
													input#password.form-control.form-control-lg(type='password', name='password', required)
													.invalid-feedback Введите ваш пароль!
													.help-block Ваш пароль
												.row.no-gutters
													.col-lg-12.pl-lg-1.my-2
														button#submit.btn.btn-outline-success.btn-block.btn-lg(type='button') Войти
												#info-row.row.no-gutters.hidden
													.col-lg-12.pl-lg-1.my-2
														#info.alert.alert-success.text-center(style='margin-bottom: unset;', role='alert')
							.position-absolute.pos-bottom.pos-left.pos-right.p-3.text-center.text-white
								| 2019&nbsp;-&nbsp;
								=utils.moment().format('YYYY')
								| &nbsp;©&nbsp;
								= config.app.title
								| &nbsp;by&nbsp;
								a.text-primary.fw-500(href='https://plentystars.com/', title='Plentystars, GC', target='_blank') Plentystars, GC

		script(type='text/javascript', src='/js/dependency/jstz/jstz.min.js')

		script(type='text/javascript', src='/js/vendors.bundle.js')
		script(type='text/javascript', src='/js/notifications/noty/noty.min.js')
		script(type='text/javascript', src='/js/app.bundle.js')

		script(type='text/javascript', src='/js/app/libs/common.js')
		script(type='text/javascript', src='/js/app/libs/data.js')

		script(type='text/javascript', src='/js/app/auth/login.js')
