/*!
 * File Icon Vectors 1.0 (https://github.com/dmhendricks/file-icon-vectors)
 * Copyright 2018 Daniel M. Hendricks (https://www.danhendricks.com)
 * Licensed under MIT (https://github.com/dmhendricks/file-icon-vectors/blob/master/LICENSE)
 */
.fiv-background, .fiv-hct {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.fiv-size-md {
  font-size: 2em;
}

.fiv-size-lg {
  font-size: 3.5em;
}

.fiv-size-xl {
  font-size: 4.75em;
}

.fiv-hct {
  position: relative;
  display: inline-block;
  line-height: 1em;
  width: 1em;
}

.fiv-hct:before {
  content: '\00a0';
}

.fiv-hct.fiv-icon-3g2 {
  background-image: url("icons/high-contrast/3g2.svg");
}

.fiv-hct.fiv-icon-3ga {
  background-image: url("icons/high-contrast/3ga.svg");
}

.fiv-hct.fiv-icon-3gp {
  background-image: url("icons/high-contrast/3gp.svg");
}

.fiv-hct.fiv-icon-7z {
  background-image: url("icons/high-contrast/7z.svg");
}

.fiv-hct.fiv-icon-aa {
  background-image: url("icons/high-contrast/aa.svg");
}

.fiv-hct.fiv-icon-aac {
  background-image: url("icons/high-contrast/aac.svg");
}

.fiv-hct.fiv-icon-ac {
  background-image: url("icons/high-contrast/ac.svg");
}

.fiv-hct.fiv-icon-accdb {
  background-image: url("icons/high-contrast/accdb.svg");
}

.fiv-hct.fiv-icon-accdt {
  background-image: url("icons/high-contrast/accdt.svg");
}

.fiv-hct.fiv-icon-ace {
  background-image: url("icons/high-contrast/ace.svg");
}

.fiv-hct.fiv-icon-adn {
  background-image: url("icons/high-contrast/adn.svg");
}

.fiv-hct.fiv-icon-ai {
  background-image: url("icons/high-contrast/ai.svg");
}

.fiv-hct.fiv-icon-aif {
  background-image: url("icons/high-contrast/aif.svg");
}

.fiv-hct.fiv-icon-aifc {
  background-image: url("icons/high-contrast/aifc.svg");
}

.fiv-hct.fiv-icon-aiff {
  background-image: url("icons/high-contrast/aiff.svg");
}

.fiv-hct.fiv-icon-ait {
  background-image: url("icons/high-contrast/ait.svg");
}

.fiv-hct.fiv-icon-amr {
  background-image: url("icons/high-contrast/amr.svg");
}

.fiv-hct.fiv-icon-ani {
  background-image: url("icons/high-contrast/ani.svg");
}

.fiv-hct.fiv-icon-apk {
  background-image: url("icons/high-contrast/apk.svg");
}

.fiv-hct.fiv-icon-app {
  background-image: url("icons/high-contrast/app.svg");
}

.fiv-hct.fiv-icon-applescript {
  background-image: url("icons/high-contrast/applescript.svg");
}

.fiv-hct.fiv-icon-asax {
  background-image: url("icons/high-contrast/asax.svg");
}

.fiv-hct.fiv-icon-asc {
  background-image: url("icons/high-contrast/asc.svg");
}

.fiv-hct.fiv-icon-ascx {
  background-image: url("icons/high-contrast/ascx.svg");
}

.fiv-hct.fiv-icon-asf {
  background-image: url("icons/high-contrast/asf.svg");
}

.fiv-hct.fiv-icon-ash {
  background-image: url("icons/high-contrast/ash.svg");
}

.fiv-hct.fiv-icon-ashx {
  background-image: url("icons/high-contrast/ashx.svg");
}

.fiv-hct.fiv-icon-asm {
  background-image: url("icons/high-contrast/asm.svg");
}

.fiv-hct.fiv-icon-asmx {
  background-image: url("icons/high-contrast/asmx.svg");
}

.fiv-hct.fiv-icon-asp {
  background-image: url("icons/high-contrast/asp.svg");
}

.fiv-hct.fiv-icon-aspx {
  background-image: url("icons/high-contrast/aspx.svg");
}

.fiv-hct.fiv-icon-asx {
  background-image: url("icons/high-contrast/asx.svg");
}

.fiv-hct.fiv-icon-au {
  background-image: url("icons/high-contrast/au.svg");
}

.fiv-hct.fiv-icon-aup {
  background-image: url("icons/high-contrast/aup.svg");
}

.fiv-hct.fiv-icon-avi {
  background-image: url("icons/high-contrast/avi.svg");
}

.fiv-hct.fiv-icon-axd {
  background-image: url("icons/high-contrast/axd.svg");
}

.fiv-hct.fiv-icon-aze {
  background-image: url("icons/high-contrast/aze.svg");
}

.fiv-hct.fiv-icon-bak {
  background-image: url("icons/high-contrast/bak.svg");
}

.fiv-hct.fiv-icon-bash {
  background-image: url("icons/high-contrast/bash.svg");
}

.fiv-hct.fiv-icon-bat {
  background-image: url("icons/high-contrast/bat.svg");
}

.fiv-hct.fiv-icon-bin {
  background-image: url("icons/high-contrast/bin.svg");
}

.fiv-hct.fiv-icon-blank {
  background-image: url("icons/high-contrast/blank.svg");
}

.fiv-hct.fiv-icon-bmp {
  background-image: url("icons/high-contrast/bmp.svg");
}

.fiv-hct.fiv-icon-bowerrc {
  background-image: url("icons/high-contrast/bowerrc.svg");
}

.fiv-hct.fiv-icon-bpg {
  background-image: url("icons/high-contrast/bpg.svg");
}

.fiv-hct.fiv-icon-browser {
  background-image: url("icons/high-contrast/browser.svg");
}

.fiv-hct.fiv-icon-bz2 {
  background-image: url("icons/high-contrast/bz2.svg");
}

.fiv-hct.fiv-icon-bzempty {
  background-image: url("icons/high-contrast/bzempty.svg");
}

.fiv-hct.fiv-icon-c {
  background-image: url("icons/high-contrast/c.svg");
}

.fiv-hct.fiv-icon-cab {
  background-image: url("icons/high-contrast/cab.svg");
}

.fiv-hct.fiv-icon-cad {
  background-image: url("icons/high-contrast/cad.svg");
}

.fiv-hct.fiv-icon-caf {
  background-image: url("icons/high-contrast/caf.svg");
}

.fiv-hct.fiv-icon-cal {
  background-image: url("icons/high-contrast/cal.svg");
}

.fiv-hct.fiv-icon-cd {
  background-image: url("icons/high-contrast/cd.svg");
}

.fiv-hct.fiv-icon-cdda {
  background-image: url("icons/high-contrast/cdda.svg");
}

.fiv-hct.fiv-icon-cer {
  background-image: url("icons/high-contrast/cer.svg");
}

.fiv-hct.fiv-icon-cfg {
  background-image: url("icons/high-contrast/cfg.svg");
}

.fiv-hct.fiv-icon-cfm {
  background-image: url("icons/high-contrast/cfm.svg");
}

.fiv-hct.fiv-icon-cfml {
  background-image: url("icons/high-contrast/cfml.svg");
}

.fiv-hct.fiv-icon-cgi {
  background-image: url("icons/high-contrast/cgi.svg");
}

.fiv-hct.fiv-icon-chm {
  background-image: url("icons/high-contrast/chm.svg");
}

.fiv-hct.fiv-icon-class {
  background-image: url("icons/high-contrast/class.svg");
}

.fiv-hct.fiv-icon-cmd {
  background-image: url("icons/high-contrast/cmd.svg");
}

.fiv-hct.fiv-icon-code-workspace {
  background-image: url("icons/high-contrast/code-workspace.svg");
}

.fiv-hct.fiv-icon-codekit {
  background-image: url("icons/high-contrast/codekit.svg");
}

.fiv-hct.fiv-icon-codekit3 {
  background-image: url("icons/high-contrast/codekit3.svg");
}

.fiv-hct.fiv-icon-coffee {
  background-image: url("icons/high-contrast/coffee.svg");
}

.fiv-hct.fiv-icon-coffeelintignore {
  background-image: url("icons/high-contrast/coffeelintignore.svg");
}

.fiv-hct.fiv-icon-com {
  background-image: url("icons/high-contrast/com.svg");
}

.fiv-hct.fiv-icon-compile {
  background-image: url("icons/high-contrast/compile.svg");
}

.fiv-hct.fiv-icon-conf {
  background-image: url("icons/high-contrast/conf.svg");
}

.fiv-hct.fiv-icon-config {
  background-image: url("icons/high-contrast/config.svg");
}

.fiv-hct.fiv-icon-cpp {
  background-image: url("icons/high-contrast/cpp.svg");
}

.fiv-hct.fiv-icon-cptx {
  background-image: url("icons/high-contrast/cptx.svg");
}

.fiv-hct.fiv-icon-cr2 {
  background-image: url("icons/high-contrast/cr2.svg");
}

.fiv-hct.fiv-icon-crdownload {
  background-image: url("icons/high-contrast/crdownload.svg");
}

.fiv-hct.fiv-icon-crt {
  background-image: url("icons/high-contrast/crt.svg");
}

.fiv-hct.fiv-icon-crypt {
  background-image: url("icons/high-contrast/crypt.svg");
}

.fiv-hct.fiv-icon-cs {
  background-image: url("icons/high-contrast/cs.svg");
}

.fiv-hct.fiv-icon-csh {
  background-image: url("icons/high-contrast/csh.svg");
}

.fiv-hct.fiv-icon-cson {
  background-image: url("icons/high-contrast/cson.svg");
}

.fiv-hct.fiv-icon-csproj {
  background-image: url("icons/high-contrast/csproj.svg");
}

.fiv-hct.fiv-icon-css {
  background-image: url("icons/high-contrast/css.svg");
}

.fiv-hct.fiv-icon-csv {
  background-image: url("icons/high-contrast/csv.svg");
}

.fiv-hct.fiv-icon-cue {
  background-image: url("icons/high-contrast/cue.svg");
}

.fiv-hct.fiv-icon-cur {
  background-image: url("icons/high-contrast/cur.svg");
}

.fiv-hct.fiv-icon-dart {
  background-image: url("icons/high-contrast/dart.svg");
}

.fiv-hct.fiv-icon-dat {
  background-image: url("icons/high-contrast/dat.svg");
}

.fiv-hct.fiv-icon-data {
  background-image: url("icons/high-contrast/data.svg");
}

.fiv-hct.fiv-icon-db {
  background-image: url("icons/high-contrast/db.svg");
}

.fiv-hct.fiv-icon-dbf {
  background-image: url("icons/high-contrast/dbf.svg");
}

.fiv-hct.fiv-icon-deb {
  background-image: url("icons/high-contrast/deb.svg");
}

.fiv-hct.fiv-icon-default {
  background-image: url("icons/high-contrast/default.svg");
}

.fiv-hct.fiv-icon-dgn {
  background-image: url("icons/high-contrast/dgn.svg");
}

.fiv-hct.fiv-icon-dist {
  background-image: url("icons/high-contrast/dist.svg");
}

.fiv-hct.fiv-icon-diz {
  background-image: url("icons/high-contrast/diz.svg");
}

.fiv-hct.fiv-icon-dll {
  background-image: url("icons/high-contrast/dll.svg");
}

.fiv-hct.fiv-icon-dmg {
  background-image: url("icons/high-contrast/dmg.svg");
}

.fiv-hct.fiv-icon-dng {
  background-image: url("icons/high-contrast/dng.svg");
}

.fiv-hct.fiv-icon-doc {
  background-image: url("icons/high-contrast/doc.svg");
}

.fiv-hct.fiv-icon-docb {
  background-image: url("icons/high-contrast/docb.svg");
}

.fiv-hct.fiv-icon-docm {
  background-image: url("icons/high-contrast/docm.svg");
}

.fiv-hct.fiv-icon-docx {
  background-image: url("icons/high-contrast/docx.svg");
}

.fiv-hct.fiv-icon-dot {
  background-image: url("icons/high-contrast/dot.svg");
}

.fiv-hct.fiv-icon-dotm {
  background-image: url("icons/high-contrast/dotm.svg");
}

.fiv-hct.fiv-icon-dotx {
  background-image: url("icons/high-contrast/dotx.svg");
}

.fiv-hct.fiv-icon-download {
  background-image: url("icons/high-contrast/download.svg");
}

.fiv-hct.fiv-icon-dpj {
  background-image: url("icons/high-contrast/dpj.svg");
}

.fiv-hct.fiv-icon-ds_store {
  background-image: url("icons/high-contrast/ds_store.svg");
}

.fiv-hct.fiv-icon-dsn {
  background-image: url("icons/high-contrast/dsn.svg");
}

.fiv-hct.fiv-icon-dst {
  background-image: url("icons/high-contrast/dst.svg");
}

.fiv-hct.fiv-icon-dtd {
  background-image: url("icons/high-contrast/dtd.svg");
}

.fiv-hct.fiv-icon-dwg {
  background-image: url("icons/high-contrast/dwg.svg");
}

.fiv-hct.fiv-icon-dxf {
  background-image: url("icons/high-contrast/dxf.svg");
}

.fiv-hct.fiv-icon-editorconfig {
  background-image: url("icons/high-contrast/editorconfig.svg");
}

.fiv-hct.fiv-icon-el {
  background-image: url("icons/high-contrast/el.svg");
}

.fiv-hct.fiv-icon-elf {
  background-image: url("icons/high-contrast/elf.svg");
}

.fiv-hct.fiv-icon-eml {
  background-image: url("icons/high-contrast/eml.svg");
}

.fiv-hct.fiv-icon-enc {
  background-image: url("icons/high-contrast/enc.svg");
}

.fiv-hct.fiv-icon-eot {
  background-image: url("icons/high-contrast/eot.svg");
}

.fiv-hct.fiv-icon-eps {
  background-image: url("icons/high-contrast/eps.svg");
}

.fiv-hct.fiv-icon-epub {
  background-image: url("icons/high-contrast/epub.svg");
}

.fiv-hct.fiv-icon-eslintignore {
  background-image: url("icons/high-contrast/eslintignore.svg");
}

.fiv-hct.fiv-icon-exe {
  background-image: url("icons/high-contrast/exe.svg");
}

.fiv-hct.fiv-icon-f4v {
  background-image: url("icons/high-contrast/f4v.svg");
}

.fiv-hct.fiv-icon-fax {
  background-image: url("icons/high-contrast/fax.svg");
}

.fiv-hct.fiv-icon-fb2 {
  background-image: url("icons/high-contrast/fb2.svg");
}

.fiv-hct.fiv-icon-fla {
  background-image: url("icons/high-contrast/fla.svg");
}

.fiv-hct.fiv-icon-flac {
  background-image: url("icons/high-contrast/flac.svg");
}

.fiv-hct.fiv-icon-flv {
  background-image: url("icons/high-contrast/flv.svg");
}

.fiv-hct.fiv-icon-fnt {
  background-image: url("icons/high-contrast/fnt.svg");
}

.fiv-hct.fiv-icon-fon {
  background-image: url("icons/high-contrast/fon.svg");
}

.fiv-hct.fiv-icon-gadget {
  background-image: url("icons/high-contrast/gadget.svg");
}

.fiv-hct.fiv-icon-gdp {
  background-image: url("icons/high-contrast/gdp.svg");
}

.fiv-hct.fiv-icon-gem {
  background-image: url("icons/high-contrast/gem.svg");
}

.fiv-hct.fiv-icon-gif {
  background-image: url("icons/high-contrast/gif.svg");
}

.fiv-hct.fiv-icon-gitattributes {
  background-image: url("icons/high-contrast/gitattributes.svg");
}

.fiv-hct.fiv-icon-gitignore {
  background-image: url("icons/high-contrast/gitignore.svg");
}

.fiv-hct.fiv-icon-go {
  background-image: url("icons/high-contrast/go.svg");
}

.fiv-hct.fiv-icon-gpg {
  background-image: url("icons/high-contrast/gpg.svg");
}

.fiv-hct.fiv-icon-gpl {
  background-image: url("icons/high-contrast/gpl.svg");
}

.fiv-hct.fiv-icon-gradle {
  background-image: url("icons/high-contrast/gradle.svg");
}

.fiv-hct.fiv-icon-gz {
  background-image: url("icons/high-contrast/gz.svg");
}

.fiv-hct.fiv-icon-h {
  background-image: url("icons/high-contrast/h.svg");
}

.fiv-hct.fiv-icon-handlebars {
  background-image: url("icons/high-contrast/handlebars.svg");
}

.fiv-hct.fiv-icon-hbs {
  background-image: url("icons/high-contrast/hbs.svg");
}

.fiv-hct.fiv-icon-heic {
  background-image: url("icons/high-contrast/heic.svg");
}

.fiv-hct.fiv-icon-hlp {
  background-image: url("icons/high-contrast/hlp.svg");
}

.fiv-hct.fiv-icon-hs {
  background-image: url("icons/high-contrast/hs.svg");
}

.fiv-hct.fiv-icon-hsl {
  background-image: url("icons/high-contrast/hsl.svg");
}

.fiv-hct.fiv-icon-htm {
  background-image: url("icons/high-contrast/htm.svg");
}

.fiv-hct.fiv-icon-html {
  background-image: url("icons/high-contrast/html.svg");
}

.fiv-hct.fiv-icon-ibooks {
  background-image: url("icons/high-contrast/ibooks.svg");
}

.fiv-hct.fiv-icon-icma {
  background-image: url("icons/high-contrast/icma.svg");
}

.fiv-hct.fiv-icon-icml {
  background-image: url("icons/high-contrast/icml.svg");
}

.fiv-hct.fiv-icon-icns {
  background-image: url("icons/high-contrast/icns.svg");
}

.fiv-hct.fiv-icon-ico {
  background-image: url("icons/high-contrast/ico.svg");
}

.fiv-hct.fiv-icon-ics {
  background-image: url("icons/high-contrast/ics.svg");
}

.fiv-hct.fiv-icon-idx {
  background-image: url("icons/high-contrast/idx.svg");
}

.fiv-hct.fiv-icon-iff {
  background-image: url("icons/high-contrast/iff.svg");
}

.fiv-hct.fiv-icon-ifo {
  background-image: url("icons/high-contrast/ifo.svg");
}

.fiv-hct.fiv-icon-image {
  background-image: url("icons/high-contrast/image.svg");
}

.fiv-hct.fiv-icon-img {
  background-image: url("icons/high-contrast/img.svg");
}

.fiv-hct.fiv-icon-iml {
  background-image: url("icons/high-contrast/iml.svg");
}

.fiv-hct.fiv-icon-in {
  background-image: url("icons/high-contrast/in.svg");
}

.fiv-hct.fiv-icon-inc {
  background-image: url("icons/high-contrast/inc.svg");
}

.fiv-hct.fiv-icon-indd {
  background-image: url("icons/high-contrast/indd.svg");
}

.fiv-hct.fiv-icon-inf {
  background-image: url("icons/high-contrast/inf.svg");
}

.fiv-hct.fiv-icon-info {
  background-image: url("icons/high-contrast/info.svg");
}

.fiv-hct.fiv-icon-ini {
  background-image: url("icons/high-contrast/ini.svg");
}

.fiv-hct.fiv-icon-inv {
  background-image: url("icons/high-contrast/inv.svg");
}

.fiv-hct.fiv-icon-iso {
  background-image: url("icons/high-contrast/iso.svg");
}

.fiv-hct.fiv-icon-j2 {
  background-image: url("icons/high-contrast/j2.svg");
}

.fiv-hct.fiv-icon-jar {
  background-image: url("icons/high-contrast/jar.svg");
}

.fiv-hct.fiv-icon-java {
  background-image: url("icons/high-contrast/java.svg");
}

.fiv-hct.fiv-icon-jpe {
  background-image: url("icons/high-contrast/jpe.svg");
}

.fiv-hct.fiv-icon-jpeg {
  background-image: url("icons/high-contrast/jpeg.svg");
}

.fiv-hct.fiv-icon-jpg {
  background-image: url("icons/high-contrast/jpg.svg");
}

.fiv-hct.fiv-icon-js {
  background-image: url("icons/high-contrast/js.svg");
}

.fiv-hct.fiv-icon-json {
  background-image: url("icons/high-contrast/json.svg");
}

.fiv-hct.fiv-icon-jsp {
  background-image: url("icons/high-contrast/jsp.svg");
}

.fiv-hct.fiv-icon-jsx {
  background-image: url("icons/high-contrast/jsx.svg");
}

.fiv-hct.fiv-icon-key {
  background-image: url("icons/high-contrast/key.svg");
}

.fiv-hct.fiv-icon-kf8 {
  background-image: url("icons/high-contrast/kf8.svg");
}

.fiv-hct.fiv-icon-kit {
  background-image: url("icons/high-contrast/kit.svg");
}

.fiv-hct.fiv-icon-kmk {
  background-image: url("icons/high-contrast/kmk.svg");
}

.fiv-hct.fiv-icon-ksh {
  background-image: url("icons/high-contrast/ksh.svg");
}

.fiv-hct.fiv-icon-kt {
  background-image: url("icons/high-contrast/kt.svg");
}

.fiv-hct.fiv-icon-kts {
  background-image: url("icons/high-contrast/kts.svg");
}

.fiv-hct.fiv-icon-kup {
  background-image: url("icons/high-contrast/kup.svg");
}

.fiv-hct.fiv-icon-less {
  background-image: url("icons/high-contrast/less.svg");
}

.fiv-hct.fiv-icon-lex {
  background-image: url("icons/high-contrast/lex.svg");
}

.fiv-hct.fiv-icon-licx {
  background-image: url("icons/high-contrast/licx.svg");
}

.fiv-hct.fiv-icon-lisp {
  background-image: url("icons/high-contrast/lisp.svg");
}

.fiv-hct.fiv-icon-list {
  background-image: url("icons/high-contrast/list.svg");
}

.fiv-hct.fiv-icon-lit {
  background-image: url("icons/high-contrast/lit.svg");
}

.fiv-hct.fiv-icon-lnk {
  background-image: url("icons/high-contrast/lnk.svg");
}

.fiv-hct.fiv-icon-lock {
  background-image: url("icons/high-contrast/lock.svg");
}

.fiv-hct.fiv-icon-log {
  background-image: url("icons/high-contrast/log.svg");
}

.fiv-hct.fiv-icon-lua {
  background-image: url("icons/high-contrast/lua.svg");
}

.fiv-hct.fiv-icon-m {
  background-image: url("icons/high-contrast/m.svg");
}

.fiv-hct.fiv-icon-m2v {
  background-image: url("icons/high-contrast/m2v.svg");
}

.fiv-hct.fiv-icon-m3u {
  background-image: url("icons/high-contrast/m3u.svg");
}

.fiv-hct.fiv-icon-m3u8 {
  background-image: url("icons/high-contrast/m3u8.svg");
}

.fiv-hct.fiv-icon-m4 {
  background-image: url("icons/high-contrast/m4.svg");
}

.fiv-hct.fiv-icon-m4a {
  background-image: url("icons/high-contrast/m4a.svg");
}

.fiv-hct.fiv-icon-m4r {
  background-image: url("icons/high-contrast/m4r.svg");
}

.fiv-hct.fiv-icon-m4v {
  background-image: url("icons/high-contrast/m4v.svg");
}

.fiv-hct.fiv-icon-map {
  background-image: url("icons/high-contrast/map.svg");
}

.fiv-hct.fiv-icon-master {
  background-image: url("icons/high-contrast/master.svg");
}

.fiv-hct.fiv-icon-mc {
  background-image: url("icons/high-contrast/mc.svg");
}

.fiv-hct.fiv-icon-md {
  background-image: url("icons/high-contrast/md.svg");
}

.fiv-hct.fiv-icon-mdb {
  background-image: url("icons/high-contrast/mdb.svg");
}

.fiv-hct.fiv-icon-mdf {
  background-image: url("icons/high-contrast/mdf.svg");
}

.fiv-hct.fiv-icon-me {
  background-image: url("icons/high-contrast/me.svg");
}

.fiv-hct.fiv-icon-mi {
  background-image: url("icons/high-contrast/mi.svg");
}

.fiv-hct.fiv-icon-mid {
  background-image: url("icons/high-contrast/mid.svg");
}

.fiv-hct.fiv-icon-midi {
  background-image: url("icons/high-contrast/midi.svg");
}

.fiv-hct.fiv-icon-mk {
  background-image: url("icons/high-contrast/mk.svg");
}

.fiv-hct.fiv-icon-mkv {
  background-image: url("icons/high-contrast/mkv.svg");
}

.fiv-hct.fiv-icon-mm {
  background-image: url("icons/high-contrast/mm.svg");
}

.fiv-hct.fiv-icon-mng {
  background-image: url("icons/high-contrast/mng.svg");
}

.fiv-hct.fiv-icon-mo {
  background-image: url("icons/high-contrast/mo.svg");
}

.fiv-hct.fiv-icon-mobi {
  background-image: url("icons/high-contrast/mobi.svg");
}

.fiv-hct.fiv-icon-mod {
  background-image: url("icons/high-contrast/mod.svg");
}

.fiv-hct.fiv-icon-mov {
  background-image: url("icons/high-contrast/mov.svg");
}

.fiv-hct.fiv-icon-mp2 {
  background-image: url("icons/high-contrast/mp2.svg");
}

.fiv-hct.fiv-icon-mp3 {
  background-image: url("icons/high-contrast/mp3.svg");
}

.fiv-hct.fiv-icon-mp4 {
  background-image: url("icons/high-contrast/mp4.svg");
}

.fiv-hct.fiv-icon-mpa {
  background-image: url("icons/high-contrast/mpa.svg");
}

.fiv-hct.fiv-icon-mpd {
  background-image: url("icons/high-contrast/mpd.svg");
}

.fiv-hct.fiv-icon-mpe {
  background-image: url("icons/high-contrast/mpe.svg");
}

.fiv-hct.fiv-icon-mpeg {
  background-image: url("icons/high-contrast/mpeg.svg");
}

.fiv-hct.fiv-icon-mpg {
  background-image: url("icons/high-contrast/mpg.svg");
}

.fiv-hct.fiv-icon-mpga {
  background-image: url("icons/high-contrast/mpga.svg");
}

.fiv-hct.fiv-icon-mpp {
  background-image: url("icons/high-contrast/mpp.svg");
}

.fiv-hct.fiv-icon-mpt {
  background-image: url("icons/high-contrast/mpt.svg");
}

.fiv-hct.fiv-icon-msg {
  background-image: url("icons/high-contrast/msg.svg");
}

.fiv-hct.fiv-icon-msi {
  background-image: url("icons/high-contrast/msi.svg");
}

.fiv-hct.fiv-icon-msu {
  background-image: url("icons/high-contrast/msu.svg");
}

.fiv-hct.fiv-icon-nef {
  background-image: url("icons/high-contrast/nef.svg");
}

.fiv-hct.fiv-icon-nes {
  background-image: url("icons/high-contrast/nes.svg");
}

.fiv-hct.fiv-icon-nfo {
  background-image: url("icons/high-contrast/nfo.svg");
}

.fiv-hct.fiv-icon-nix {
  background-image: url("icons/high-contrast/nix.svg");
}

.fiv-hct.fiv-icon-npmignore {
  background-image: url("icons/high-contrast/npmignore.svg");
}

.fiv-hct.fiv-icon-ocx {
  background-image: url("icons/high-contrast/ocx.svg");
}

.fiv-hct.fiv-icon-odb {
  background-image: url("icons/high-contrast/odb.svg");
}

.fiv-hct.fiv-icon-ods {
  background-image: url("icons/high-contrast/ods.svg");
}

.fiv-hct.fiv-icon-odt {
  background-image: url("icons/high-contrast/odt.svg");
}

.fiv-hct.fiv-icon-ogg {
  background-image: url("icons/high-contrast/ogg.svg");
}

.fiv-hct.fiv-icon-ogv {
  background-image: url("icons/high-contrast/ogv.svg");
}

.fiv-hct.fiv-icon-one {
  background-image: url("icons/high-contrast/one.svg");
}

.fiv-hct.fiv-icon-ost {
  background-image: url("icons/high-contrast/ost.svg");
}

.fiv-hct.fiv-icon-otf {
  background-image: url("icons/high-contrast/otf.svg");
}

.fiv-hct.fiv-icon-ott {
  background-image: url("icons/high-contrast/ott.svg");
}

.fiv-hct.fiv-icon-ova {
  background-image: url("icons/high-contrast/ova.svg");
}

.fiv-hct.fiv-icon-ovf {
  background-image: url("icons/high-contrast/ovf.svg");
}

.fiv-hct.fiv-icon-p12 {
  background-image: url("icons/high-contrast/p12.svg");
}

.fiv-hct.fiv-icon-p7b {
  background-image: url("icons/high-contrast/p7b.svg");
}

.fiv-hct.fiv-icon-pages {
  background-image: url("icons/high-contrast/pages.svg");
}

.fiv-hct.fiv-icon-part {
  background-image: url("icons/high-contrast/part.svg");
}

.fiv-hct.fiv-icon-partial {
  background-image: url("icons/high-contrast/partial.svg");
}

.fiv-hct.fiv-icon-pbix {
  background-image: url("icons/high-contrast/pbix.svg");
}

.fiv-hct.fiv-icon-pcd {
  background-image: url("icons/high-contrast/pcd.svg");
}

.fiv-hct.fiv-icon-pdb {
  background-image: url("icons/high-contrast/pdb.svg");
}

.fiv-hct.fiv-icon-pdf {
  background-image: url("icons/high-contrast/pdf.svg");
}

.fiv-hct.fiv-icon-pem {
  background-image: url("icons/high-contrast/pem.svg");
}

.fiv-hct.fiv-icon-pfx {
  background-image: url("icons/high-contrast/pfx.svg");
}

.fiv-hct.fiv-icon-pgp {
  background-image: url("icons/high-contrast/pgp.svg");
}

.fiv-hct.fiv-icon-ph {
  background-image: url("icons/high-contrast/ph.svg");
}

.fiv-hct.fiv-icon-phar {
  background-image: url("icons/high-contrast/phar.svg");
}

.fiv-hct.fiv-icon-php {
  background-image: url("icons/high-contrast/php.svg");
}

.fiv-hct.fiv-icon-pid {
  background-image: url("icons/high-contrast/pid.svg");
}

.fiv-hct.fiv-icon-pkg {
  background-image: url("icons/high-contrast/pkg.svg");
}

.fiv-hct.fiv-icon-pl {
  background-image: url("icons/high-contrast/pl.svg");
}

.fiv-hct.fiv-icon-plist {
  background-image: url("icons/high-contrast/plist.svg");
}

.fiv-hct.fiv-icon-pm {
  background-image: url("icons/high-contrast/pm.svg");
}

.fiv-hct.fiv-icon-png {
  background-image: url("icons/high-contrast/png.svg");
}

.fiv-hct.fiv-icon-po {
  background-image: url("icons/high-contrast/po.svg");
}

.fiv-hct.fiv-icon-pom {
  background-image: url("icons/high-contrast/pom.svg");
}

.fiv-hct.fiv-icon-pot {
  background-image: url("icons/high-contrast/pot.svg");
}

.fiv-hct.fiv-icon-potx {
  background-image: url("icons/high-contrast/potx.svg");
}

.fiv-hct.fiv-icon-ppk {
  background-image: url("icons/high-contrast/ppk.svg");
}

.fiv-hct.fiv-icon-pps {
  background-image: url("icons/high-contrast/pps.svg");
}

.fiv-hct.fiv-icon-ppsx {
  background-image: url("icons/high-contrast/ppsx.svg");
}

.fiv-hct.fiv-icon-ppt {
  background-image: url("icons/high-contrast/ppt.svg");
}

.fiv-hct.fiv-icon-pptm {
  background-image: url("icons/high-contrast/pptm.svg");
}

.fiv-hct.fiv-icon-pptx {
  background-image: url("icons/high-contrast/pptx.svg");
}

.fiv-hct.fiv-icon-prop {
  background-image: url("icons/high-contrast/prop.svg");
}

.fiv-hct.fiv-icon-ps {
  background-image: url("icons/high-contrast/ps.svg");
}

.fiv-hct.fiv-icon-ps1 {
  background-image: url("icons/high-contrast/ps1.svg");
}

.fiv-hct.fiv-icon-psd {
  background-image: url("icons/high-contrast/psd.svg");
}

.fiv-hct.fiv-icon-psp {
  background-image: url("icons/high-contrast/psp.svg");
}

.fiv-hct.fiv-icon-pst {
  background-image: url("icons/high-contrast/pst.svg");
}

.fiv-hct.fiv-icon-pub {
  background-image: url("icons/high-contrast/pub.svg");
}

.fiv-hct.fiv-icon-py {
  background-image: url("icons/high-contrast/py.svg");
}

.fiv-hct.fiv-icon-pyc {
  background-image: url("icons/high-contrast/pyc.svg");
}

.fiv-hct.fiv-icon-qt {
  background-image: url("icons/high-contrast/qt.svg");
}

.fiv-hct.fiv-icon-ra {
  background-image: url("icons/high-contrast/ra.svg");
}

.fiv-hct.fiv-icon-ram {
  background-image: url("icons/high-contrast/ram.svg");
}

.fiv-hct.fiv-icon-rar {
  background-image: url("icons/high-contrast/rar.svg");
}

.fiv-hct.fiv-icon-raw {
  background-image: url("icons/high-contrast/raw.svg");
}

.fiv-hct.fiv-icon-rb {
  background-image: url("icons/high-contrast/rb.svg");
}

.fiv-hct.fiv-icon-rdf {
  background-image: url("icons/high-contrast/rdf.svg");
}

.fiv-hct.fiv-icon-rdl {
  background-image: url("icons/high-contrast/rdl.svg");
}

.fiv-hct.fiv-icon-reg {
  background-image: url("icons/high-contrast/reg.svg");
}

.fiv-hct.fiv-icon-resx {
  background-image: url("icons/high-contrast/resx.svg");
}

.fiv-hct.fiv-icon-retry {
  background-image: url("icons/high-contrast/retry.svg");
}

.fiv-hct.fiv-icon-rm {
  background-image: url("icons/high-contrast/rm.svg");
}

.fiv-hct.fiv-icon-rom {
  background-image: url("icons/high-contrast/rom.svg");
}

.fiv-hct.fiv-icon-rpm {
  background-image: url("icons/high-contrast/rpm.svg");
}

.fiv-hct.fiv-icon-rpt {
  background-image: url("icons/high-contrast/rpt.svg");
}

.fiv-hct.fiv-icon-rsa {
  background-image: url("icons/high-contrast/rsa.svg");
}

.fiv-hct.fiv-icon-rss {
  background-image: url("icons/high-contrast/rss.svg");
}

.fiv-hct.fiv-icon-rst {
  background-image: url("icons/high-contrast/rst.svg");
}

.fiv-hct.fiv-icon-rtf {
  background-image: url("icons/high-contrast/rtf.svg");
}

.fiv-hct.fiv-icon-ru {
  background-image: url("icons/high-contrast/ru.svg");
}

.fiv-hct.fiv-icon-rub {
  background-image: url("icons/high-contrast/rub.svg");
}

.fiv-hct.fiv-icon-sass {
  background-image: url("icons/high-contrast/sass.svg");
}

.fiv-hct.fiv-icon-save {
  background-image: url("icons/high-contrast/save.svg");
}

.fiv-hct.fiv-icon-scss {
  background-image: url("icons/high-contrast/scss.svg");
}

.fiv-hct.fiv-icon-sdf {
  background-image: url("icons/high-contrast/sdf.svg");
}

.fiv-hct.fiv-icon-sed {
  background-image: url("icons/high-contrast/sed.svg");
}

.fiv-hct.fiv-icon-sesx {
  background-image: url("icons/high-contrast/sesx.svg");
}

.fiv-hct.fiv-icon-sh {
  background-image: url("icons/high-contrast/sh.svg");
}

.fiv-hct.fiv-icon-sit {
  background-image: url("icons/high-contrast/sit.svg");
}

.fiv-hct.fiv-icon-sitemap {
  background-image: url("icons/high-contrast/sitemap.svg");
}

.fiv-hct.fiv-icon-sketch {
  background-image: url("icons/high-contrast/sketch.svg");
}

.fiv-hct.fiv-icon-skin {
  background-image: url("icons/high-contrast/skin.svg");
}

.fiv-hct.fiv-icon-sldm {
  background-image: url("icons/high-contrast/sldm.svg");
}

.fiv-hct.fiv-icon-sldx {
  background-image: url("icons/high-contrast/sldx.svg");
}

.fiv-hct.fiv-icon-sln {
  background-image: url("icons/high-contrast/sln.svg");
}

.fiv-hct.fiv-icon-sol {
  background-image: url("icons/high-contrast/sol.svg");
}

.fiv-hct.fiv-icon-sphinx {
  background-image: url("icons/high-contrast/sphinx.svg");
}

.fiv-hct.fiv-icon-sql {
  background-image: url("icons/high-contrast/sql.svg");
}

.fiv-hct.fiv-icon-sqlite {
  background-image: url("icons/high-contrast/sqlite.svg");
}

.fiv-hct.fiv-icon-srt {
  background-image: url("icons/high-contrast/srt.svg");
}

.fiv-hct.fiv-icon-step {
  background-image: url("icons/high-contrast/step.svg");
}

.fiv-hct.fiv-icon-stl {
  background-image: url("icons/high-contrast/stl.svg");
}

.fiv-hct.fiv-icon-sub {
  background-image: url("icons/high-contrast/sub.svg");
}

.fiv-hct.fiv-icon-svg {
  background-image: url("icons/high-contrast/svg.svg");
}

.fiv-hct.fiv-icon-swd {
  background-image: url("icons/high-contrast/swd.svg");
}

.fiv-hct.fiv-icon-swf {
  background-image: url("icons/high-contrast/swf.svg");
}

.fiv-hct.fiv-icon-swift {
  background-image: url("icons/high-contrast/swift.svg");
}

.fiv-hct.fiv-icon-swp {
  background-image: url("icons/high-contrast/swp.svg");
}

.fiv-hct.fiv-icon-sys {
  background-image: url("icons/high-contrast/sys.svg");
}

.fiv-hct.fiv-icon-tar {
  background-image: url("icons/high-contrast/tar.svg");
}

.fiv-hct.fiv-icon-tax {
  background-image: url("icons/high-contrast/tax.svg");
}

.fiv-hct.fiv-icon-tcsh {
  background-image: url("icons/high-contrast/tcsh.svg");
}

.fiv-hct.fiv-icon-tex {
  background-image: url("icons/high-contrast/tex.svg");
}

.fiv-hct.fiv-icon-tfignore {
  background-image: url("icons/high-contrast/tfignore.svg");
}

.fiv-hct.fiv-icon-tga {
  background-image: url("icons/high-contrast/tga.svg");
}

.fiv-hct.fiv-icon-tgz {
  background-image: url("icons/high-contrast/tgz.svg");
}

.fiv-hct.fiv-icon-tif {
  background-image: url("icons/high-contrast/tif.svg");
}

.fiv-hct.fiv-icon-tiff {
  background-image: url("icons/high-contrast/tiff.svg");
}

.fiv-hct.fiv-icon-tmp {
  background-image: url("icons/high-contrast/tmp.svg");
}

.fiv-hct.fiv-icon-tmx {
  background-image: url("icons/high-contrast/tmx.svg");
}

.fiv-hct.fiv-icon-torrent {
  background-image: url("icons/high-contrast/torrent.svg");
}

.fiv-hct.fiv-icon-tpl {
  background-image: url("icons/high-contrast/tpl.svg");
}

.fiv-hct.fiv-icon-ts {
  background-image: url("icons/high-contrast/ts.svg");
}

.fiv-hct.fiv-icon-tsv {
  background-image: url("icons/high-contrast/tsv.svg");
}

.fiv-hct.fiv-icon-tsx {
  background-image: url("icons/high-contrast/tsx.svg");
}

.fiv-hct.fiv-icon-ttf {
  background-image: url("icons/high-contrast/ttf.svg");
}

.fiv-hct.fiv-icon-twig {
  background-image: url("icons/high-contrast/twig.svg");
}

.fiv-hct.fiv-icon-txt {
  background-image: url("icons/high-contrast/txt.svg");
}

.fiv-hct.fiv-icon-udf {
  background-image: url("icons/high-contrast/udf.svg");
}

.fiv-hct.fiv-icon-vb {
  background-image: url("icons/high-contrast/vb.svg");
}

.fiv-hct.fiv-icon-vbproj {
  background-image: url("icons/high-contrast/vbproj.svg");
}

.fiv-hct.fiv-icon-vbs {
  background-image: url("icons/high-contrast/vbs.svg");
}

.fiv-hct.fiv-icon-vcd {
  background-image: url("icons/high-contrast/vcd.svg");
}

.fiv-hct.fiv-icon-vcf {
  background-image: url("icons/high-contrast/vcf.svg");
}

.fiv-hct.fiv-icon-vcs {
  background-image: url("icons/high-contrast/vcs.svg");
}

.fiv-hct.fiv-icon-vdi {
  background-image: url("icons/high-contrast/vdi.svg");
}

.fiv-hct.fiv-icon-vdx {
  background-image: url("icons/high-contrast/vdx.svg");
}

.fiv-hct.fiv-icon-vmdk {
  background-image: url("icons/high-contrast/vmdk.svg");
}

.fiv-hct.fiv-icon-vob {
  background-image: url("icons/high-contrast/vob.svg");
}

.fiv-hct.fiv-icon-vox {
  background-image: url("icons/high-contrast/vox.svg");
}

.fiv-hct.fiv-icon-vscodeignore {
  background-image: url("icons/high-contrast/vscodeignore.svg");
}

.fiv-hct.fiv-icon-vsd {
  background-image: url("icons/high-contrast/vsd.svg");
}

.fiv-hct.fiv-icon-vss {
  background-image: url("icons/high-contrast/vss.svg");
}

.fiv-hct.fiv-icon-vst {
  background-image: url("icons/high-contrast/vst.svg");
}

.fiv-hct.fiv-icon-vsx {
  background-image: url("icons/high-contrast/vsx.svg");
}

.fiv-hct.fiv-icon-vtx {
  background-image: url("icons/high-contrast/vtx.svg");
}

.fiv-hct.fiv-icon-war {
  background-image: url("icons/high-contrast/war.svg");
}

.fiv-hct.fiv-icon-wav {
  background-image: url("icons/high-contrast/wav.svg");
}

.fiv-hct.fiv-icon-wbk {
  background-image: url("icons/high-contrast/wbk.svg");
}

.fiv-hct.fiv-icon-webinfo {
  background-image: url("icons/high-contrast/webinfo.svg");
}

.fiv-hct.fiv-icon-webm {
  background-image: url("icons/high-contrast/webm.svg");
}

.fiv-hct.fiv-icon-webp {
  background-image: url("icons/high-contrast/webp.svg");
}

.fiv-hct.fiv-icon-wma {
  background-image: url("icons/high-contrast/wma.svg");
}

.fiv-hct.fiv-icon-wmf {
  background-image: url("icons/high-contrast/wmf.svg");
}

.fiv-hct.fiv-icon-wmv {
  background-image: url("icons/high-contrast/wmv.svg");
}

.fiv-hct.fiv-icon-woff {
  background-image: url("icons/high-contrast/woff.svg");
}

.fiv-hct.fiv-icon-woff2 {
  background-image: url("icons/high-contrast/woff2.svg");
}

.fiv-hct.fiv-icon-wpd {
  background-image: url("icons/high-contrast/wpd.svg");
}

.fiv-hct.fiv-icon-wps {
  background-image: url("icons/high-contrast/wps.svg");
}

.fiv-hct.fiv-icon-wsf {
  background-image: url("icons/high-contrast/wsf.svg");
}

.fiv-hct.fiv-icon-xaml {
  background-image: url("icons/high-contrast/xaml.svg");
}

.fiv-hct.fiv-icon-xcf {
  background-image: url("icons/high-contrast/xcf.svg");
}

.fiv-hct.fiv-icon-xcodeproj {
  background-image: url("icons/high-contrast/xcodeproj.svg");
}

.fiv-hct.fiv-icon-xfl {
  background-image: url("icons/high-contrast/xfl.svg");
}

.fiv-hct.fiv-icon-xlb {
  background-image: url("icons/high-contrast/xlb.svg");
}

.fiv-hct.fiv-icon-xlc {
  background-image: url("icons/high-contrast/xlc.svg");
}

.fiv-hct.fiv-icon-xlm {
  background-image: url("icons/high-contrast/xlm.svg");
}

.fiv-hct.fiv-icon-xls {
  background-image: url("icons/high-contrast/xls.svg");
}

.fiv-hct.fiv-icon-xlsb {
  background-image: url("icons/high-contrast/xlsb.svg");
}

.fiv-hct.fiv-icon-xlsm {
  background-image: url("icons/high-contrast/xlsm.svg");
}

.fiv-hct.fiv-icon-xlsx {
  background-image: url("icons/high-contrast/xlsx.svg");
}

.fiv-hct.fiv-icon-xlt {
  background-image: url("icons/high-contrast/xlt.svg");
}

.fiv-hct.fiv-icon-xltm {
  background-image: url("icons/high-contrast/xltm.svg");
}

.fiv-hct.fiv-icon-xltx {
  background-image: url("icons/high-contrast/xltx.svg");
}

.fiv-hct.fiv-icon-xml {
  background-image: url("icons/high-contrast/xml.svg");
}

.fiv-hct.fiv-icon-xpi {
  background-image: url("icons/high-contrast/xpi.svg");
}

.fiv-hct.fiv-icon-xps {
  background-image: url("icons/high-contrast/xps.svg");
}

.fiv-hct.fiv-icon-xrb {
  background-image: url("icons/high-contrast/xrb.svg");
}

.fiv-hct.fiv-icon-xsd {
  background-image: url("icons/high-contrast/xsd.svg");
}

.fiv-hct.fiv-icon-xsl {
  background-image: url("icons/high-contrast/xsl.svg");
}

.fiv-hct.fiv-icon-xspf {
  background-image: url("icons/high-contrast/xspf.svg");
}

.fiv-hct.fiv-icon-xz {
  background-image: url("icons/high-contrast/xz.svg");
}

.fiv-hct.fiv-icon-yaml {
  background-image: url("icons/high-contrast/yaml.svg");
}

.fiv-hct.fiv-icon-yml {
  background-image: url("icons/high-contrast/yml.svg");
}

.fiv-hct.fiv-icon-z {
  background-image: url("icons/high-contrast/z.svg");
}

.fiv-hct.fiv-icon-zip {
  background-image: url("icons/high-contrast/zip.svg");
}

.fiv-hct.fiv-icon-zsh {
  background-image: url("icons/high-contrast/zsh.svg");
}
