/*!
 * File Icon Vectors 1.0 (https://github.com/dmhendricks/file-icon-vectors)
 * Copyright 2018 Daniel M. Hendricks (https://www.danhendricks.com)
 * Licensed under MIT (https://github.com/dmhendricks/file-icon-vectors/blob/master/LICENSE)
 */
.fiv-background, .fiv-cla {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.fiv-size-md {
  font-size: 2em;
}

.fiv-size-lg {
  font-size: 3.5em;
}

.fiv-size-xl {
  font-size: 4.75em;
}

.fiv-cla {
  position: relative;
  display: inline-block;
  line-height: 1em;
  width: 0.72em;
}

.fiv-cla:before {
  content: '\00a0';
}

.fiv-cla.fiv-icon-3g2 {
  background-image: url("icons/classic/3g2.svg");
}

.fiv-cla.fiv-icon-3ga {
  background-image: url("icons/classic/3ga.svg");
}

.fiv-cla.fiv-icon-3gp {
  background-image: url("icons/classic/3gp.svg");
}

.fiv-cla.fiv-icon-7z {
  background-image: url("icons/classic/7z.svg");
}

.fiv-cla.fiv-icon-aa {
  background-image: url("icons/classic/aa.svg");
}

.fiv-cla.fiv-icon-aac {
  background-image: url("icons/classic/aac.svg");
}

.fiv-cla.fiv-icon-ac {
  background-image: url("icons/classic/ac.svg");
}

.fiv-cla.fiv-icon-accdb {
  background-image: url("icons/classic/accdb.svg");
}

.fiv-cla.fiv-icon-accdt {
  background-image: url("icons/classic/accdt.svg");
}

.fiv-cla.fiv-icon-ace {
  background-image: url("icons/classic/ace.svg");
}

.fiv-cla.fiv-icon-adn {
  background-image: url("icons/classic/adn.svg");
}

.fiv-cla.fiv-icon-ai {
  background-image: url("icons/classic/ai.svg");
}

.fiv-cla.fiv-icon-aif {
  background-image: url("icons/classic/aif.svg");
}

.fiv-cla.fiv-icon-aifc {
  background-image: url("icons/classic/aifc.svg");
}

.fiv-cla.fiv-icon-aiff {
  background-image: url("icons/classic/aiff.svg");
}

.fiv-cla.fiv-icon-ait {
  background-image: url("icons/classic/ait.svg");
}

.fiv-cla.fiv-icon-amr {
  background-image: url("icons/classic/amr.svg");
}

.fiv-cla.fiv-icon-ani {
  background-image: url("icons/classic/ani.svg");
}

.fiv-cla.fiv-icon-apk {
  background-image: url("icons/classic/apk.svg");
}

.fiv-cla.fiv-icon-app {
  background-image: url("icons/classic/app.svg");
}

.fiv-cla.fiv-icon-applescript {
  background-image: url("icons/classic/applescript.svg");
}

.fiv-cla.fiv-icon-asax {
  background-image: url("icons/classic/asax.svg");
}

.fiv-cla.fiv-icon-asc {
  background-image: url("icons/classic/asc.svg");
}

.fiv-cla.fiv-icon-ascx {
  background-image: url("icons/classic/ascx.svg");
}

.fiv-cla.fiv-icon-asf {
  background-image: url("icons/classic/asf.svg");
}

.fiv-cla.fiv-icon-ash {
  background-image: url("icons/classic/ash.svg");
}

.fiv-cla.fiv-icon-ashx {
  background-image: url("icons/classic/ashx.svg");
}

.fiv-cla.fiv-icon-asm {
  background-image: url("icons/classic/asm.svg");
}

.fiv-cla.fiv-icon-asmx {
  background-image: url("icons/classic/asmx.svg");
}

.fiv-cla.fiv-icon-asp {
  background-image: url("icons/classic/asp.svg");
}

.fiv-cla.fiv-icon-aspx {
  background-image: url("icons/classic/aspx.svg");
}

.fiv-cla.fiv-icon-asx {
  background-image: url("icons/classic/asx.svg");
}

.fiv-cla.fiv-icon-au {
  background-image: url("icons/classic/au.svg");
}

.fiv-cla.fiv-icon-aup {
  background-image: url("icons/classic/aup.svg");
}

.fiv-cla.fiv-icon-avi {
  background-image: url("icons/classic/avi.svg");
}

.fiv-cla.fiv-icon-axd {
  background-image: url("icons/classic/axd.svg");
}

.fiv-cla.fiv-icon-aze {
  background-image: url("icons/classic/aze.svg");
}

.fiv-cla.fiv-icon-bak {
  background-image: url("icons/classic/bak.svg");
}

.fiv-cla.fiv-icon-bash {
  background-image: url("icons/classic/bash.svg");
}

.fiv-cla.fiv-icon-bat {
  background-image: url("icons/classic/bat.svg");
}

.fiv-cla.fiv-icon-bin {
  background-image: url("icons/classic/bin.svg");
}

.fiv-cla.fiv-icon-blank {
  background-image: url("icons/classic/blank.svg");
}

.fiv-cla.fiv-icon-bmp {
  background-image: url("icons/classic/bmp.svg");
}

.fiv-cla.fiv-icon-bowerrc {
  background-image: url("icons/classic/bowerrc.svg");
}

.fiv-cla.fiv-icon-bpg {
  background-image: url("icons/classic/bpg.svg");
}

.fiv-cla.fiv-icon-browser {
  background-image: url("icons/classic/browser.svg");
}

.fiv-cla.fiv-icon-bz2 {
  background-image: url("icons/classic/bz2.svg");
}

.fiv-cla.fiv-icon-bzempty {
  background-image: url("icons/classic/bzempty.svg");
}

.fiv-cla.fiv-icon-c {
  background-image: url("icons/classic/c.svg");
}

.fiv-cla.fiv-icon-cab {
  background-image: url("icons/classic/cab.svg");
}

.fiv-cla.fiv-icon-cad {
  background-image: url("icons/classic/cad.svg");
}

.fiv-cla.fiv-icon-caf {
  background-image: url("icons/classic/caf.svg");
}

.fiv-cla.fiv-icon-cal {
  background-image: url("icons/classic/cal.svg");
}

.fiv-cla.fiv-icon-cd {
  background-image: url("icons/classic/cd.svg");
}

.fiv-cla.fiv-icon-cdda {
  background-image: url("icons/classic/cdda.svg");
}

.fiv-cla.fiv-icon-cer {
  background-image: url("icons/classic/cer.svg");
}

.fiv-cla.fiv-icon-cfg {
  background-image: url("icons/classic/cfg.svg");
}

.fiv-cla.fiv-icon-cfm {
  background-image: url("icons/classic/cfm.svg");
}

.fiv-cla.fiv-icon-cfml {
  background-image: url("icons/classic/cfml.svg");
}

.fiv-cla.fiv-icon-cgi {
  background-image: url("icons/classic/cgi.svg");
}

.fiv-cla.fiv-icon-chm {
  background-image: url("icons/classic/chm.svg");
}

.fiv-cla.fiv-icon-class {
  background-image: url("icons/classic/class.svg");
}

.fiv-cla.fiv-icon-cmd {
  background-image: url("icons/classic/cmd.svg");
}

.fiv-cla.fiv-icon-code-workspace {
  background-image: url("icons/classic/code-workspace.svg");
}

.fiv-cla.fiv-icon-codekit {
  background-image: url("icons/classic/codekit.svg");
}

.fiv-cla.fiv-icon-coffee {
  background-image: url("icons/classic/coffee.svg");
}

.fiv-cla.fiv-icon-coffeelintignore {
  background-image: url("icons/classic/coffeelintignore.svg");
}

.fiv-cla.fiv-icon-com {
  background-image: url("icons/classic/com.svg");
}

.fiv-cla.fiv-icon-compile {
  background-image: url("icons/classic/compile.svg");
}

.fiv-cla.fiv-icon-conf {
  background-image: url("icons/classic/conf.svg");
}

.fiv-cla.fiv-icon-config {
  background-image: url("icons/classic/config.svg");
}

.fiv-cla.fiv-icon-cpp {
  background-image: url("icons/classic/cpp.svg");
}

.fiv-cla.fiv-icon-cptx {
  background-image: url("icons/classic/cptx.svg");
}

.fiv-cla.fiv-icon-cr2 {
  background-image: url("icons/classic/cr2.svg");
}

.fiv-cla.fiv-icon-crdownload {
  background-image: url("icons/classic/crdownload.svg");
}

.fiv-cla.fiv-icon-crt {
  background-image: url("icons/classic/crt.svg");
}

.fiv-cla.fiv-icon-crypt {
  background-image: url("icons/classic/crypt.svg");
}

.fiv-cla.fiv-icon-cs {
  background-image: url("icons/classic/cs.svg");
}

.fiv-cla.fiv-icon-csh {
  background-image: url("icons/classic/csh.svg");
}

.fiv-cla.fiv-icon-cson {
  background-image: url("icons/classic/cson.svg");
}

.fiv-cla.fiv-icon-csproj {
  background-image: url("icons/classic/csproj.svg");
}

.fiv-cla.fiv-icon-css {
  background-image: url("icons/classic/css.svg");
}

.fiv-cla.fiv-icon-csv {
  background-image: url("icons/classic/csv.svg");
}

.fiv-cla.fiv-icon-cue {
  background-image: url("icons/classic/cue.svg");
}

.fiv-cla.fiv-icon-cur {
  background-image: url("icons/classic/cur.svg");
}

.fiv-cla.fiv-icon-dart {
  background-image: url("icons/classic/dart.svg");
}

.fiv-cla.fiv-icon-dat {
  background-image: url("icons/classic/dat.svg");
}

.fiv-cla.fiv-icon-data {
  background-image: url("icons/classic/data.svg");
}

.fiv-cla.fiv-icon-db {
  background-image: url("icons/classic/db.svg");
}

.fiv-cla.fiv-icon-dbf {
  background-image: url("icons/classic/dbf.svg");
}

.fiv-cla.fiv-icon-deb {
  background-image: url("icons/classic/deb.svg");
}

.fiv-cla.fiv-icon-default {
  background-image: url("icons/classic/default.svg");
}

.fiv-cla.fiv-icon-dgn {
  background-image: url("icons/classic/dgn.svg");
}

.fiv-cla.fiv-icon-dist {
  background-image: url("icons/classic/dist.svg");
}

.fiv-cla.fiv-icon-diz {
  background-image: url("icons/classic/diz.svg");
}

.fiv-cla.fiv-icon-dll {
  background-image: url("icons/classic/dll.svg");
}

.fiv-cla.fiv-icon-dmg {
  background-image: url("icons/classic/dmg.svg");
}

.fiv-cla.fiv-icon-dng {
  background-image: url("icons/classic/dng.svg");
}

.fiv-cla.fiv-icon-doc {
  background-image: url("icons/classic/doc.svg");
}

.fiv-cla.fiv-icon-docb {
  background-image: url("icons/classic/docb.svg");
}

.fiv-cla.fiv-icon-docm {
  background-image: url("icons/classic/docm.svg");
}

.fiv-cla.fiv-icon-docx {
  background-image: url("icons/classic/docx.svg");
}

.fiv-cla.fiv-icon-dot {
  background-image: url("icons/classic/dot.svg");
}

.fiv-cla.fiv-icon-dotm {
  background-image: url("icons/classic/dotm.svg");
}

.fiv-cla.fiv-icon-dotx {
  background-image: url("icons/classic/dotx.svg");
}

.fiv-cla.fiv-icon-download {
  background-image: url("icons/classic/download.svg");
}

.fiv-cla.fiv-icon-dpj {
  background-image: url("icons/classic/dpj.svg");
}

.fiv-cla.fiv-icon-ds_store {
  background-image: url("icons/classic/ds_store.svg");
}

.fiv-cla.fiv-icon-dsn {
  background-image: url("icons/classic/dsn.svg");
}

.fiv-cla.fiv-icon-dtd {
  background-image: url("icons/classic/dtd.svg");
}

.fiv-cla.fiv-icon-dwg {
  background-image: url("icons/classic/dwg.svg");
}

.fiv-cla.fiv-icon-dxf {
  background-image: url("icons/classic/dxf.svg");
}

.fiv-cla.fiv-icon-editorconfig {
  background-image: url("icons/classic/editorconfig.svg");
}

.fiv-cla.fiv-icon-el {
  background-image: url("icons/classic/el.svg");
}

.fiv-cla.fiv-icon-elf {
  background-image: url("icons/classic/elf.svg");
}

.fiv-cla.fiv-icon-eml {
  background-image: url("icons/classic/eml.svg");
}

.fiv-cla.fiv-icon-enc {
  background-image: url("icons/classic/enc.svg");
}

.fiv-cla.fiv-icon-eot {
  background-image: url("icons/classic/eot.svg");
}

.fiv-cla.fiv-icon-eps {
  background-image: url("icons/classic/eps.svg");
}

.fiv-cla.fiv-icon-epub {
  background-image: url("icons/classic/epub.svg");
}

.fiv-cla.fiv-icon-eslintignore {
  background-image: url("icons/classic/eslintignore.svg");
}

.fiv-cla.fiv-icon-exe {
  background-image: url("icons/classic/exe.svg");
}

.fiv-cla.fiv-icon-f4v {
  background-image: url("icons/classic/f4v.svg");
}

.fiv-cla.fiv-icon-fax {
  background-image: url("icons/classic/fax.svg");
}

.fiv-cla.fiv-icon-fb2 {
  background-image: url("icons/classic/fb2.svg");
}

.fiv-cla.fiv-icon-fla {
  background-image: url("icons/classic/fla.svg");
}

.fiv-cla.fiv-icon-flac {
  background-image: url("icons/classic/flac.svg");
}

.fiv-cla.fiv-icon-flv {
  background-image: url("icons/classic/flv.svg");
}

.fiv-cla.fiv-icon-fnt {
  background-image: url("icons/classic/fnt.svg");
}

.fiv-cla.fiv-icon-folder {
  background-image: url("icons/classic/folder.svg");
}

.fiv-cla.fiv-icon-fon {
  background-image: url("icons/classic/fon.svg");
}

.fiv-cla.fiv-icon-gadget {
  background-image: url("icons/classic/gadget.svg");
}

.fiv-cla.fiv-icon-gdp {
  background-image: url("icons/classic/gdp.svg");
}

.fiv-cla.fiv-icon-gem {
  background-image: url("icons/classic/gem.svg");
}

.fiv-cla.fiv-icon-gif {
  background-image: url("icons/classic/gif.svg");
}

.fiv-cla.fiv-icon-gitattributes {
  background-image: url("icons/classic/gitattributes.svg");
}

.fiv-cla.fiv-icon-gitignore {
  background-image: url("icons/classic/gitignore.svg");
}

.fiv-cla.fiv-icon-go {
  background-image: url("icons/classic/go.svg");
}

.fiv-cla.fiv-icon-gpg {
  background-image: url("icons/classic/gpg.svg");
}

.fiv-cla.fiv-icon-gpl {
  background-image: url("icons/classic/gpl.svg");
}

.fiv-cla.fiv-icon-gradle {
  background-image: url("icons/classic/gradle.svg");
}

.fiv-cla.fiv-icon-gz {
  background-image: url("icons/classic/gz.svg");
}

.fiv-cla.fiv-icon-h {
  background-image: url("icons/classic/h.svg");
}

.fiv-cla.fiv-icon-handlebars {
  background-image: url("icons/classic/handlebars.svg");
}

.fiv-cla.fiv-icon-hbs {
  background-image: url("icons/classic/hbs.svg");
}

.fiv-cla.fiv-icon-heic {
  background-image: url("icons/classic/heic.svg");
}

.fiv-cla.fiv-icon-hlp {
  background-image: url("icons/classic/hlp.svg");
}

.fiv-cla.fiv-icon-hs {
  background-image: url("icons/classic/hs.svg");
}

.fiv-cla.fiv-icon-hsl {
  background-image: url("icons/classic/hsl.svg");
}

.fiv-cla.fiv-icon-htm {
  background-image: url("icons/classic/htm.svg");
}

.fiv-cla.fiv-icon-html {
  background-image: url("icons/classic/html.svg");
}

.fiv-cla.fiv-icon-ibooks {
  background-image: url("icons/classic/ibooks.svg");
}

.fiv-cla.fiv-icon-icns {
  background-image: url("icons/classic/icns.svg");
}

.fiv-cla.fiv-icon-ico {
  background-image: url("icons/classic/ico.svg");
}

.fiv-cla.fiv-icon-ics {
  background-image: url("icons/classic/ics.svg");
}

.fiv-cla.fiv-icon-idx {
  background-image: url("icons/classic/idx.svg");
}

.fiv-cla.fiv-icon-iff {
  background-image: url("icons/classic/iff.svg");
}

.fiv-cla.fiv-icon-ifo {
  background-image: url("icons/classic/ifo.svg");
}

.fiv-cla.fiv-icon-image {
  background-image: url("icons/classic/image.svg");
}

.fiv-cla.fiv-icon-img {
  background-image: url("icons/classic/img.svg");
}

.fiv-cla.fiv-icon-iml {
  background-image: url("icons/classic/iml.svg");
}

.fiv-cla.fiv-icon-in {
  background-image: url("icons/classic/in.svg");
}

.fiv-cla.fiv-icon-inc {
  background-image: url("icons/classic/inc.svg");
}

.fiv-cla.fiv-icon-indd {
  background-image: url("icons/classic/indd.svg");
}

.fiv-cla.fiv-icon-inf {
  background-image: url("icons/classic/inf.svg");
}

.fiv-cla.fiv-icon-info {
  background-image: url("icons/classic/info.svg");
}

.fiv-cla.fiv-icon-ini {
  background-image: url("icons/classic/ini.svg");
}

.fiv-cla.fiv-icon-inv {
  background-image: url("icons/classic/inv.svg");
}

.fiv-cla.fiv-icon-iso {
  background-image: url("icons/classic/iso.svg");
}

.fiv-cla.fiv-icon-j2 {
  background-image: url("icons/classic/j2.svg");
}

.fiv-cla.fiv-icon-jar {
  background-image: url("icons/classic/jar.svg");
}

.fiv-cla.fiv-icon-java {
  background-image: url("icons/classic/java.svg");
}

.fiv-cla.fiv-icon-jpe {
  background-image: url("icons/classic/jpe.svg");
}

.fiv-cla.fiv-icon-jpeg {
  background-image: url("icons/classic/jpeg.svg");
}

.fiv-cla.fiv-icon-jpg {
  background-image: url("icons/classic/jpg.svg");
}

.fiv-cla.fiv-icon-js {
  background-image: url("icons/classic/js.svg");
}

.fiv-cla.fiv-icon-json {
  background-image: url("icons/classic/json.svg");
}

.fiv-cla.fiv-icon-jsp {
  background-image: url("icons/classic/jsp.svg");
}

.fiv-cla.fiv-icon-jsx {
  background-image: url("icons/classic/jsx.svg");
}

.fiv-cla.fiv-icon-key {
  background-image: url("icons/classic/key.svg");
}

.fiv-cla.fiv-icon-kf8 {
  background-image: url("icons/classic/kf8.svg");
}

.fiv-cla.fiv-icon-kmk {
  background-image: url("icons/classic/kmk.svg");
}

.fiv-cla.fiv-icon-ksh {
  background-image: url("icons/classic/ksh.svg");
}

.fiv-cla.fiv-icon-kt {
  background-image: url("icons/classic/kt.svg");
}

.fiv-cla.fiv-icon-kts {
  background-image: url("icons/classic/kts.svg");
}

.fiv-cla.fiv-icon-kup {
  background-image: url("icons/classic/kup.svg");
}

.fiv-cla.fiv-icon-less {
  background-image: url("icons/classic/less.svg");
}

.fiv-cla.fiv-icon-lex {
  background-image: url("icons/classic/lex.svg");
}

.fiv-cla.fiv-icon-licx {
  background-image: url("icons/classic/licx.svg");
}

.fiv-cla.fiv-icon-lisp {
  background-image: url("icons/classic/lisp.svg");
}

.fiv-cla.fiv-icon-lit {
  background-image: url("icons/classic/lit.svg");
}

.fiv-cla.fiv-icon-lnk {
  background-image: url("icons/classic/lnk.svg");
}

.fiv-cla.fiv-icon-lock {
  background-image: url("icons/classic/lock.svg");
}

.fiv-cla.fiv-icon-log {
  background-image: url("icons/classic/log.svg");
}

.fiv-cla.fiv-icon-lua {
  background-image: url("icons/classic/lua.svg");
}

.fiv-cla.fiv-icon-m {
  background-image: url("icons/classic/m.svg");
}

.fiv-cla.fiv-icon-m2v {
  background-image: url("icons/classic/m2v.svg");
}

.fiv-cla.fiv-icon-m3u {
  background-image: url("icons/classic/m3u.svg");
}

.fiv-cla.fiv-icon-m3u8 {
  background-image: url("icons/classic/m3u8.svg");
}

.fiv-cla.fiv-icon-m4 {
  background-image: url("icons/classic/m4.svg");
}

.fiv-cla.fiv-icon-m4a {
  background-image: url("icons/classic/m4a.svg");
}

.fiv-cla.fiv-icon-m4r {
  background-image: url("icons/classic/m4r.svg");
}

.fiv-cla.fiv-icon-m4v {
  background-image: url("icons/classic/m4v.svg");
}

.fiv-cla.fiv-icon-map {
  background-image: url("icons/classic/map.svg");
}

.fiv-cla.fiv-icon-master {
  background-image: url("icons/classic/master.svg");
}

.fiv-cla.fiv-icon-mc {
  background-image: url("icons/classic/mc.svg");
}

.fiv-cla.fiv-icon-md {
  background-image: url("icons/classic/md.svg");
}

.fiv-cla.fiv-icon-mdb {
  background-image: url("icons/classic/mdb.svg");
}

.fiv-cla.fiv-icon-mdf {
  background-image: url("icons/classic/mdf.svg");
}

.fiv-cla.fiv-icon-me {
  background-image: url("icons/classic/me.svg");
}

.fiv-cla.fiv-icon-mi {
  background-image: url("icons/classic/mi.svg");
}

.fiv-cla.fiv-icon-mid {
  background-image: url("icons/classic/mid.svg");
}

.fiv-cla.fiv-icon-midi {
  background-image: url("icons/classic/midi.svg");
}

.fiv-cla.fiv-icon-mk {
  background-image: url("icons/classic/mk.svg");
}

.fiv-cla.fiv-icon-mkv {
  background-image: url("icons/classic/mkv.svg");
}

.fiv-cla.fiv-icon-mm {
  background-image: url("icons/classic/mm.svg");
}

.fiv-cla.fiv-icon-mng {
  background-image: url("icons/classic/mng.svg");
}

.fiv-cla.fiv-icon-mo {
  background-image: url("icons/classic/mo.svg");
}

.fiv-cla.fiv-icon-mobi {
  background-image: url("icons/classic/mobi.svg");
}

.fiv-cla.fiv-icon-mod {
  background-image: url("icons/classic/mod.svg");
}

.fiv-cla.fiv-icon-mov {
  background-image: url("icons/classic/mov.svg");
}

.fiv-cla.fiv-icon-mp2 {
  background-image: url("icons/classic/mp2.svg");
}

.fiv-cla.fiv-icon-mp3 {
  background-image: url("icons/classic/mp3.svg");
}

.fiv-cla.fiv-icon-mp4 {
  background-image: url("icons/classic/mp4.svg");
}

.fiv-cla.fiv-icon-mpa {
  background-image: url("icons/classic/mpa.svg");
}

.fiv-cla.fiv-icon-mpd {
  background-image: url("icons/classic/mpd.svg");
}

.fiv-cla.fiv-icon-mpe {
  background-image: url("icons/classic/mpe.svg");
}

.fiv-cla.fiv-icon-mpeg {
  background-image: url("icons/classic/mpeg.svg");
}

.fiv-cla.fiv-icon-mpg {
  background-image: url("icons/classic/mpg.svg");
}

.fiv-cla.fiv-icon-mpga {
  background-image: url("icons/classic/mpga.svg");
}

.fiv-cla.fiv-icon-mpp {
  background-image: url("icons/classic/mpp.svg");
}

.fiv-cla.fiv-icon-mpt {
  background-image: url("icons/classic/mpt.svg");
}

.fiv-cla.fiv-icon-msg {
  background-image: url("icons/classic/msg.svg");
}

.fiv-cla.fiv-icon-msi {
  background-image: url("icons/classic/msi.svg");
}

.fiv-cla.fiv-icon-msu {
  background-image: url("icons/classic/msu.svg");
}

.fiv-cla.fiv-icon-nef {
  background-image: url("icons/classic/nef.svg");
}

.fiv-cla.fiv-icon-nes {
  background-image: url("icons/classic/nes.svg");
}

.fiv-cla.fiv-icon-nfo {
  background-image: url("icons/classic/nfo.svg");
}

.fiv-cla.fiv-icon-nix {
  background-image: url("icons/classic/nix.svg");
}

.fiv-cla.fiv-icon-npmignore {
  background-image: url("icons/classic/npmignore.svg");
}

.fiv-cla.fiv-icon-ocx {
  background-image: url("icons/classic/ocx.svg");
}

.fiv-cla.fiv-icon-odb {
  background-image: url("icons/classic/odb.svg");
}

.fiv-cla.fiv-icon-ods {
  background-image: url("icons/classic/ods.svg");
}

.fiv-cla.fiv-icon-odt {
  background-image: url("icons/classic/odt.svg");
}

.fiv-cla.fiv-icon-ogg {
  background-image: url("icons/classic/ogg.svg");
}

.fiv-cla.fiv-icon-ogv {
  background-image: url("icons/classic/ogv.svg");
}

.fiv-cla.fiv-icon-ost {
  background-image: url("icons/classic/ost.svg");
}

.fiv-cla.fiv-icon-otf {
  background-image: url("icons/classic/otf.svg");
}

.fiv-cla.fiv-icon-ott {
  background-image: url("icons/classic/ott.svg");
}

.fiv-cla.fiv-icon-ova {
  background-image: url("icons/classic/ova.svg");
}

.fiv-cla.fiv-icon-ovf {
  background-image: url("icons/classic/ovf.svg");
}

.fiv-cla.fiv-icon-p12 {
  background-image: url("icons/classic/p12.svg");
}

.fiv-cla.fiv-icon-p7b {
  background-image: url("icons/classic/p7b.svg");
}

.fiv-cla.fiv-icon-pages {
  background-image: url("icons/classic/pages.svg");
}

.fiv-cla.fiv-icon-part {
  background-image: url("icons/classic/part.svg");
}

.fiv-cla.fiv-icon-pcd {
  background-image: url("icons/classic/pcd.svg");
}

.fiv-cla.fiv-icon-pdb {
  background-image: url("icons/classic/pdb.svg");
}

.fiv-cla.fiv-icon-pdf {
  background-image: url("icons/classic/pdf.svg");
}

.fiv-cla.fiv-icon-pem {
  background-image: url("icons/classic/pem.svg");
}

.fiv-cla.fiv-icon-pfx {
  background-image: url("icons/classic/pfx.svg");
}

.fiv-cla.fiv-icon-pgp {
  background-image: url("icons/classic/pgp.svg");
}

.fiv-cla.fiv-icon-ph {
  background-image: url("icons/classic/ph.svg");
}

.fiv-cla.fiv-icon-phar {
  background-image: url("icons/classic/phar.svg");
}

.fiv-cla.fiv-icon-php {
  background-image: url("icons/classic/php.svg");
}

.fiv-cla.fiv-icon-pid {
  background-image: url("icons/classic/pid.svg");
}

.fiv-cla.fiv-icon-pkg {
  background-image: url("icons/classic/pkg.svg");
}

.fiv-cla.fiv-icon-pl {
  background-image: url("icons/classic/pl.svg");
}

.fiv-cla.fiv-icon-plist {
  background-image: url("icons/classic/plist.svg");
}

.fiv-cla.fiv-icon-pm {
  background-image: url("icons/classic/pm.svg");
}

.fiv-cla.fiv-icon-png {
  background-image: url("icons/classic/png.svg");
}

.fiv-cla.fiv-icon-po {
  background-image: url("icons/classic/po.svg");
}

.fiv-cla.fiv-icon-pom {
  background-image: url("icons/classic/pom.svg");
}

.fiv-cla.fiv-icon-pot {
  background-image: url("icons/classic/pot.svg");
}

.fiv-cla.fiv-icon-potx {
  background-image: url("icons/classic/potx.svg");
}

.fiv-cla.fiv-icon-pps {
  background-image: url("icons/classic/pps.svg");
}

.fiv-cla.fiv-icon-ppsx {
  background-image: url("icons/classic/ppsx.svg");
}

.fiv-cla.fiv-icon-ppt {
  background-image: url("icons/classic/ppt.svg");
}

.fiv-cla.fiv-icon-pptm {
  background-image: url("icons/classic/pptm.svg");
}

.fiv-cla.fiv-icon-pptx {
  background-image: url("icons/classic/pptx.svg");
}

.fiv-cla.fiv-icon-prop {
  background-image: url("icons/classic/prop.svg");
}

.fiv-cla.fiv-icon-ps {
  background-image: url("icons/classic/ps.svg");
}

.fiv-cla.fiv-icon-ps1 {
  background-image: url("icons/classic/ps1.svg");
}

.fiv-cla.fiv-icon-psd {
  background-image: url("icons/classic/psd.svg");
}

.fiv-cla.fiv-icon-psp {
  background-image: url("icons/classic/psp.svg");
}

.fiv-cla.fiv-icon-pst {
  background-image: url("icons/classic/pst.svg");
}

.fiv-cla.fiv-icon-pub {
  background-image: url("icons/classic/pub.svg");
}

.fiv-cla.fiv-icon-py {
  background-image: url("icons/classic/py.svg");
}

.fiv-cla.fiv-icon-pyc {
  background-image: url("icons/classic/pyc.svg");
}

.fiv-cla.fiv-icon-qt {
  background-image: url("icons/classic/qt.svg");
}

.fiv-cla.fiv-icon-ra {
  background-image: url("icons/classic/ra.svg");
}

.fiv-cla.fiv-icon-ram {
  background-image: url("icons/classic/ram.svg");
}

.fiv-cla.fiv-icon-rar {
  background-image: url("icons/classic/rar.svg");
}

.fiv-cla.fiv-icon-raw {
  background-image: url("icons/classic/raw.svg");
}

.fiv-cla.fiv-icon-rb {
  background-image: url("icons/classic/rb.svg");
}

.fiv-cla.fiv-icon-rdf {
  background-image: url("icons/classic/rdf.svg");
}

.fiv-cla.fiv-icon-rdl {
  background-image: url("icons/classic/rdl.svg");
}

.fiv-cla.fiv-icon-reg {
  background-image: url("icons/classic/reg.svg");
}

.fiv-cla.fiv-icon-resx {
  background-image: url("icons/classic/resx.svg");
}

.fiv-cla.fiv-icon-retry {
  background-image: url("icons/classic/retry.svg");
}

.fiv-cla.fiv-icon-rm {
  background-image: url("icons/classic/rm.svg");
}

.fiv-cla.fiv-icon-rom {
  background-image: url("icons/classic/rom.svg");
}

.fiv-cla.fiv-icon-rpm {
  background-image: url("icons/classic/rpm.svg");
}

.fiv-cla.fiv-icon-rpt {
  background-image: url("icons/classic/rpt.svg");
}

.fiv-cla.fiv-icon-rsa {
  background-image: url("icons/classic/rsa.svg");
}

.fiv-cla.fiv-icon-rss {
  background-image: url("icons/classic/rss.svg");
}

.fiv-cla.fiv-icon-rst {
  background-image: url("icons/classic/rst.svg");
}

.fiv-cla.fiv-icon-rtf {
  background-image: url("icons/classic/rtf.svg");
}

.fiv-cla.fiv-icon-ru {
  background-image: url("icons/classic/ru.svg");
}

.fiv-cla.fiv-icon-rub {
  background-image: url("icons/classic/rub.svg");
}

.fiv-cla.fiv-icon-sass {
  background-image: url("icons/classic/sass.svg");
}

.fiv-cla.fiv-icon-scss {
  background-image: url("icons/classic/scss.svg");
}

.fiv-cla.fiv-icon-sdf {
  background-image: url("icons/classic/sdf.svg");
}

.fiv-cla.fiv-icon-sed {
  background-image: url("icons/classic/sed.svg");
}

.fiv-cla.fiv-icon-sh {
  background-image: url("icons/classic/sh.svg");
}

.fiv-cla.fiv-icon-sit {
  background-image: url("icons/classic/sit.svg");
}

.fiv-cla.fiv-icon-sitemap {
  background-image: url("icons/classic/sitemap.svg");
}

.fiv-cla.fiv-icon-skin {
  background-image: url("icons/classic/skin.svg");
}

.fiv-cla.fiv-icon-sldm {
  background-image: url("icons/classic/sldm.svg");
}

.fiv-cla.fiv-icon-sldx {
  background-image: url("icons/classic/sldx.svg");
}

.fiv-cla.fiv-icon-sln {
  background-image: url("icons/classic/sln.svg");
}

.fiv-cla.fiv-icon-sol {
  background-image: url("icons/classic/sol.svg");
}

.fiv-cla.fiv-icon-sphinx {
  background-image: url("icons/classic/sphinx.svg");
}

.fiv-cla.fiv-icon-sql {
  background-image: url("icons/classic/sql.svg");
}

.fiv-cla.fiv-icon-sqlite {
  background-image: url("icons/classic/sqlite.svg");
}

.fiv-cla.fiv-icon-step {
  background-image: url("icons/classic/step.svg");
}

.fiv-cla.fiv-icon-stl {
  background-image: url("icons/classic/stl.svg");
}

.fiv-cla.fiv-icon-svg {
  background-image: url("icons/classic/svg.svg");
}

.fiv-cla.fiv-icon-swd {
  background-image: url("icons/classic/swd.svg");
}

.fiv-cla.fiv-icon-swf {
  background-image: url("icons/classic/swf.svg");
}

.fiv-cla.fiv-icon-swift {
  background-image: url("icons/classic/swift.svg");
}

.fiv-cla.fiv-icon-swp {
  background-image: url("icons/classic/swp.svg");
}

.fiv-cla.fiv-icon-sys {
  background-image: url("icons/classic/sys.svg");
}

.fiv-cla.fiv-icon-tar {
  background-image: url("icons/classic/tar.svg");
}

.fiv-cla.fiv-icon-tax {
  background-image: url("icons/classic/tax.svg");
}

.fiv-cla.fiv-icon-tcsh {
  background-image: url("icons/classic/tcsh.svg");
}

.fiv-cla.fiv-icon-tex {
  background-image: url("icons/classic/tex.svg");
}

.fiv-cla.fiv-icon-tfignore {
  background-image: url("icons/classic/tfignore.svg");
}

.fiv-cla.fiv-icon-tga {
  background-image: url("icons/classic/tga.svg");
}

.fiv-cla.fiv-icon-tgz {
  background-image: url("icons/classic/tgz.svg");
}

.fiv-cla.fiv-icon-tif {
  background-image: url("icons/classic/tif.svg");
}

.fiv-cla.fiv-icon-tiff {
  background-image: url("icons/classic/tiff.svg");
}

.fiv-cla.fiv-icon-tmp {
  background-image: url("icons/classic/tmp.svg");
}

.fiv-cla.fiv-icon-tmx {
  background-image: url("icons/classic/tmx.svg");
}

.fiv-cla.fiv-icon-torrent {
  background-image: url("icons/classic/torrent.svg");
}

.fiv-cla.fiv-icon-tpl {
  background-image: url("icons/classic/tpl.svg");
}

.fiv-cla.fiv-icon-ts {
  background-image: url("icons/classic/ts.svg");
}

.fiv-cla.fiv-icon-tsv {
  background-image: url("icons/classic/tsv.svg");
}

.fiv-cla.fiv-icon-ttf {
  background-image: url("icons/classic/ttf.svg");
}

.fiv-cla.fiv-icon-twig {
  background-image: url("icons/classic/twig.svg");
}

.fiv-cla.fiv-icon-txt {
  background-image: url("icons/classic/txt.svg");
}

.fiv-cla.fiv-icon-udf {
  background-image: url("icons/classic/udf.svg");
}

.fiv-cla.fiv-icon-vb {
  background-image: url("icons/classic/vb.svg");
}

.fiv-cla.fiv-icon-vbproj {
  background-image: url("icons/classic/vbproj.svg");
}

.fiv-cla.fiv-icon-vbs {
  background-image: url("icons/classic/vbs.svg");
}

.fiv-cla.fiv-icon-vcd {
  background-image: url("icons/classic/vcd.svg");
}

.fiv-cla.fiv-icon-vcf {
  background-image: url("icons/classic/vcf.svg");
}

.fiv-cla.fiv-icon-vcs {
  background-image: url("icons/classic/vcs.svg");
}

.fiv-cla.fiv-icon-vdi {
  background-image: url("icons/classic/vdi.svg");
}

.fiv-cla.fiv-icon-vdx {
  background-image: url("icons/classic/vdx.svg");
}

.fiv-cla.fiv-icon-vmdk {
  background-image: url("icons/classic/vmdk.svg");
}

.fiv-cla.fiv-icon-vob {
  background-image: url("icons/classic/vob.svg");
}

.fiv-cla.fiv-icon-vox {
  background-image: url("icons/classic/vox.svg");
}

.fiv-cla.fiv-icon-vscodeignore {
  background-image: url("icons/classic/vscodeignore.svg");
}

.fiv-cla.fiv-icon-vsd {
  background-image: url("icons/classic/vsd.svg");
}

.fiv-cla.fiv-icon-vss {
  background-image: url("icons/classic/vss.svg");
}

.fiv-cla.fiv-icon-vst {
  background-image: url("icons/classic/vst.svg");
}

.fiv-cla.fiv-icon-vsx {
  background-image: url("icons/classic/vsx.svg");
}

.fiv-cla.fiv-icon-vtx {
  background-image: url("icons/classic/vtx.svg");
}

.fiv-cla.fiv-icon-war {
  background-image: url("icons/classic/war.svg");
}

.fiv-cla.fiv-icon-wav {
  background-image: url("icons/classic/wav.svg");
}

.fiv-cla.fiv-icon-wbk {
  background-image: url("icons/classic/wbk.svg");
}

.fiv-cla.fiv-icon-webinfo {
  background-image: url("icons/classic/webinfo.svg");
}

.fiv-cla.fiv-icon-webm {
  background-image: url("icons/classic/webm.svg");
}

.fiv-cla.fiv-icon-webp {
  background-image: url("icons/classic/webp.svg");
}

.fiv-cla.fiv-icon-wma {
  background-image: url("icons/classic/wma.svg");
}

.fiv-cla.fiv-icon-wmf {
  background-image: url("icons/classic/wmf.svg");
}

.fiv-cla.fiv-icon-wmv {
  background-image: url("icons/classic/wmv.svg");
}

.fiv-cla.fiv-icon-woff {
  background-image: url("icons/classic/woff.svg");
}

.fiv-cla.fiv-icon-woff2 {
  background-image: url("icons/classic/woff2.svg");
}

.fiv-cla.fiv-icon-wps {
  background-image: url("icons/classic/wps.svg");
}

.fiv-cla.fiv-icon-wsf {
  background-image: url("icons/classic/wsf.svg");
}

.fiv-cla.fiv-icon-xaml {
  background-image: url("icons/classic/xaml.svg");
}

.fiv-cla.fiv-icon-xcf {
  background-image: url("icons/classic/xcf.svg");
}

.fiv-cla.fiv-icon-xfl {
  background-image: url("icons/classic/xfl.svg");
}

.fiv-cla.fiv-icon-xlm {
  background-image: url("icons/classic/xlm.svg");
}

.fiv-cla.fiv-icon-xls {
  background-image: url("icons/classic/xls.svg");
}

.fiv-cla.fiv-icon-xlsm {
  background-image: url("icons/classic/xlsm.svg");
}

.fiv-cla.fiv-icon-xlsx {
  background-image: url("icons/classic/xlsx.svg");
}

.fiv-cla.fiv-icon-xlt {
  background-image: url("icons/classic/xlt.svg");
}

.fiv-cla.fiv-icon-xltm {
  background-image: url("icons/classic/xltm.svg");
}

.fiv-cla.fiv-icon-xltx {
  background-image: url("icons/classic/xltx.svg");
}

.fiv-cla.fiv-icon-xml {
  background-image: url("icons/classic/xml.svg");
}

.fiv-cla.fiv-icon-xpi {
  background-image: url("icons/classic/xpi.svg");
}

.fiv-cla.fiv-icon-xps {
  background-image: url("icons/classic/xps.svg");
}

.fiv-cla.fiv-icon-xrb {
  background-image: url("icons/classic/xrb.svg");
}

.fiv-cla.fiv-icon-xsd {
  background-image: url("icons/classic/xsd.svg");
}

.fiv-cla.fiv-icon-xsl {
  background-image: url("icons/classic/xsl.svg");
}

.fiv-cla.fiv-icon-xspf {
  background-image: url("icons/classic/xspf.svg");
}

.fiv-cla.fiv-icon-xz {
  background-image: url("icons/classic/xz.svg");
}

.fiv-cla.fiv-icon-yaml {
  background-image: url("icons/classic/yaml.svg");
}

.fiv-cla.fiv-icon-yml {
  background-image: url("icons/classic/yml.svg");
}

.fiv-cla.fiv-icon-z {
  background-image: url("icons/classic/z.svg");
}

.fiv-cla.fiv-icon-zip {
  background-image: url("icons/classic/zip.svg");
}

.fiv-cla.fiv-icon-zsh {
  background-image: url("icons/classic/zsh.svg");
}
