/*!
 * File Icon Vectors 1.0 (https://github.com/dmhendricks/file-icon-vectors)
 * Copyright 2018 Daniel M. Hendricks (https://www.danhendricks.com)
 * Licensed under MIT (https://github.com/dmhendricks/file-icon-vectors/blob/master/LICENSE)
 */
.fiv-background, .fiv-ext {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.fiv-size-md {
  font-size: 2em;
}

.fiv-size-lg {
  font-size: 3.5em;
}

.fiv-size-xl {
  font-size: 4.75em;
}

.fiv-ext {
  position: relative;
  display: inline-block;
  line-height: 1em;
  width: 1em;
}

.fiv-ext:before {
  content: '\00a0';
}

.fiv-ext.fiv-icon-folder-archive {
  background-image: url("icons/extra/folder-archive.svg");
}

.fiv-ext.fiv-icon-folder-classic-open {
  background-image: url("icons/extra/folder-classic-open.svg");
}

.fiv-ext.fiv-icon-folder-classic {
  background-image: url("icons/extra/folder-classic.svg");
}

.fiv-ext.fiv-icon-folder-favorite {
  background-image: url("icons/extra/folder-favorite.svg");
}

.fiv-ext.fiv-icon-folder-flat {
  background-image: url("icons/extra/folder-flat.svg");
}

.fiv-ext.fiv-icon-folder-git {
  background-image: url("icons/extra/folder-git.svg");
}

.fiv-ext.fiv-icon-folder-hidden-open {
  background-image: url("icons/extra/folder-hidden-open.svg");
}

.fiv-ext.fiv-icon-folder-hidden {
  background-image: url("icons/extra/folder-hidden.svg");
}

.fiv-ext.fiv-icon-folder-idea {
  background-image: url("icons/extra/folder-idea.svg");
}

.fiv-ext.fiv-icon-folder-image {
  background-image: url("icons/extra/folder-image.svg");
}

.fiv-ext.fiv-icon-folder-lock {
  background-image: url("icons/extra/folder-lock.svg");
}

.fiv-ext.fiv-icon-folder-music {
  background-image: url("icons/extra/folder-music.svg");
}

.fiv-ext.fiv-icon-folder-neon-open {
  background-image: url("icons/extra/folder-neon-open.svg");
}

.fiv-ext.fiv-icon-folder-neon {
  background-image: url("icons/extra/folder-neon.svg");
}

.fiv-ext.fiv-icon-folder-network-open {
  background-image: url("icons/extra/folder-network-open.svg");
}

.fiv-ext.fiv-icon-folder-network {
  background-image: url("icons/extra/folder-network.svg");
}

.fiv-ext.fiv-icon-folder-open {
  background-image: url("icons/extra/folder-open.svg");
}

.fiv-ext.fiv-icon-folder-photo {
  background-image: url("icons/extra/folder-photo.svg");
}

.fiv-ext.fiv-icon-folder-plain-open {
  background-image: url("icons/extra/folder-plain-open.svg");
}

.fiv-ext.fiv-icon-folder-plain {
  background-image: url("icons/extra/folder-plain.svg");
}

.fiv-ext.fiv-icon-folder-svn {
  background-image: url("icons/extra/folder-svn.svg");
}

.fiv-ext.fiv-icon-folder-trash {
  background-image: url("icons/extra/folder-trash.svg");
}

.fiv-ext.fiv-icon-folder-tree {
  background-image: url("icons/extra/folder-tree.svg");
}

.fiv-ext.fiv-icon-folder-video {
  background-image: url("icons/extra/folder-video.svg");
}

.fiv-ext.fiv-icon-folder {
  background-image: url("icons/extra/folder.svg");
}
