.subheader
    h1.subheader-title
        i.subheader-icon.fal.fa-file
        | Page
        span.fw-300  Title
        small blank description
    .subheader-block Right content of header
.row
    .col-xl-12
        #panel-1.panel
            .panel-hdr
                h2 Panel
                    span.fw-300
                        i Title
                .panel-toolbar
                    button.btn.btn-panel(data-action='panel-collapse', data-toggle='tooltip', data-offset='0,10', title= t('core:buttons.collapse', 'Collapse'))
                    button.btn.btn-panel(data-action='panel-fullscreen', data-toggle='tooltip', data-offset='0,10', title= t('core:buttons.fullscreen', 'Fullscreen'))
            .panel-container.show
                .panel-content
                    table.table.table-bordered.table-hover.table-striped.w-100
                        thead
                            tr
                                th

                .panel-content.rounded-bottom.border-faded.border-left-0.border-right-0.border-bottom-0
                    .panel-buttons
                        button#button-add.btn.btn-outline-success(type='button')
                            i.fal.fa-plus
                            = t('core:buttons.add', 'Add')
                        button#button-edit.btn.btn-outline-warning(type='button', disabled)
                            i.fal.fa-pen
                            = t('core:buttons.edit', 'Edit')
                        button#button-delete.btn.btn-outline-danger(type='button', disabled)
                            i.fal.fa-trash
                            = t('core:buttons.delete', 'Delete')

script(type='text/javascript', src='/js/app/_blank.js')
