if (!ajax)
	doctype html
	html(lang='ru')
		head
			meta(charset='utf-8')
			title= config.app.title
			meta(name='description', content= error.code)
			meta(http-equiv='X-UA-Compatible', content='IE=edge')
			meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,minimal-ui')
			//  Call App Mode on ios devices
			meta(name='apple-mobile-web-app-capable', content='yes')
			//  Remove Tap Highlight on Windows Phone IE
			meta(name='msapplication-tap-highlight', content='no')
			//  google fonts css
			link(rel='stylesheet', type='text/css', media='screen, print', href='/css/fonts-googleapis.css')
			//  base css
			if (user === undefined)
				link(rel='stylesheet', type='text/css', media='screen, print', href='/css/vendors.bundle.css')
				link(rel='stylesheet', type='text/css', media='screen, print', href='/css/app.bundle.css')
			else
				link(rel='stylesheet', type='text/css', media='screen, print', href='/css/vendors.bundle.css')
				link(rel='stylesheet', type='text/css', media='screen, print', href='/css/app.bundle.css')
			//  Place favicon.ico in the root directory
			link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
			link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
			link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
		body
			.page-wrapper.alt
				main#js-page-content.page-content(role='main')
					.h-alt-f.d-flex.flex-column.align-items-center.justify-content-center.text-center
						h1.page-error.color-fusion-500 ERROR&nbsp;
							span.text-gradient= error.code
							small.fw-500= error.msg
						h3.fw-500.mb-5 Вы столкнулись с технической ошибкой. Мы приносим свои извинения.
						h4 Мы прилагаем все усилия, чтобы исправить эту проблему. Пожалуйста, подождите несколько минут и повторите попытку.
						img(src='/img/possum_pavel.gif', style='width: auto; height: auto;', alt='Possum Pavel', title='Possum Pavel')
						h5 Error stack:
						p= error.stack
			script(type='text/javascript', src='/js/vendors.bundle.js')
else
	.h-alt-f.d-flex.flex-column.align-items-center.justify-content-center.text-center
		h1.page-error.color-fusion-500 ERROR&nbsp;
			span.text-gradient= error.code
			small.fw-500= error.msg
		h3.fw-500.mb-5 Вы столкнулись с технической ошибкой. Мы приносим свои извинения.
		h4 Мы прилагаем все усилия, чтобы исправить эту проблему. Пожалуйста, подождите несколько минут и повторите попытку.
		img(src='/img/possum_pavel.gif', style='width: auto; height: auto;', alt='Possum Pavel', title='Possum Pavel')
		h5 Error stack:
		p= error.stack
