doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title= config.app.title
		meta(name='robots', content='noindex')
		meta(name='description', content='Application')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		// meta(http-equiv='Content-Security-Policy', content='upgrade-insecure-request')
		meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,minimal-ui')
		//  Call App Mode on ios devices 
		meta(name='apple-mobile-web-app-capable', content='yes')
		//  Remove Tap Highlight on Windows Phone IE 
		meta(name='msapplication-tap-highlight', content='no')
		//  google fonts css
		link(rel='stylesheet', type='text/css', media='screen, print', href='/css/fonts-googleapis.css')
		//  base css 
		link(rel='stylesheet', media='screen, print', href='/css/vendors.bundle.css')
		link(rel='stylesheet', media='screen, print', href='/css/app.bundle.css')
		link(rel='stylesheet', media='screen, print', href='/css/notifications/noty/noty.css')
		link(rel='stylesheet', media='screen, print', href='/css/notifications/noty/themes/bootstrap-v4.css')

		link(rel='stylesheet', media='screen, print', href='/css/font-awesome.css')
		link(rel='stylesheet', media='screen, print', href='/css/fa-regular.css')
		link(rel='stylesheet', media='screen, print', href='/css/fa-solid.css')
		link(rel='stylesheet', media='screen, print', href='/css/fa-brands.css')
		//  Place favicon.ico in the root directory 
		link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
		link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
		//  Optional: page related CSS
		link(rel='stylesheet', type='text/css', media='screen, print', href='/css/custom.css')

		script(data-pace-options='{"restartOnRequestAfter": true, "ajax": {"trackWebSockets": false}}')
	body.mod-bg-1.header-function-fixed.nav-function-fixed.mod-nav-link
		//  BEGIN Page Wrapper
		.page-wrapper
			.page-inner
				//  BEGIN Left Aside 
				aside.page-sidebar.list-filter-active
					.page-logo(style='padding: 0 1.9rem;')
						a.page-logo-link.press-scale-down.d-flex.align-items-center(href='#')
							img(src='/img/logo.png', alt= config.app.title_short, aria-roledescription='logo')
							span.page-logo-text.mr-1= config.app.title_short
					//  BEGIN PRIMARY NAVIGATION 
					nav#js-primary-nav.primary-nav(role='navigation')
						ul#js-nav-menu.nav-menu
							li
								a(id='records', href='/records', title='Records', data-filter-tags='records', data-alt-url='')
									i.fal.fa-cloud
									span.nav-link-text Записи
						.filter-message.js-filter-message.bg-success-600
					//  END PRIMARY NAVIGATION 
					//  NAV FOOTER 
					.nav-footer.shadow-top
						a.hidden-md-down(href='#', onclick='return false;', data-action='toggle', data-class='nav-function-minify')
							i.ni.ni-chevron-right
							i.ni.ni-chevron-right
						ul.list-table.m-auto.nav-footer-buttons
					//  END NAV FOOTER
				//  END Left Aside 
				.page-content-wrapper
					//  BEGIN Page Header 
					header.page-header(role='banner')
						//  DOC: nav menu layout change shortcut
						#nav-menu-layout.hidden-md-down.dropdown-icon-menu.position-relative
							a.header-btn.btn.js-waves-off(href='#', data-action='toggle', data-class='nav-function-hidden', data-toggle='tooltip', data-placement='right', title='Скрыть')
								i.ni.ni-menu
							ul
								li
									a.btn.js-waves-off(href='#', data-action='toggle', data-class='nav-function-minify', data-toggle='tooltip', data-placement='right', title='Минимизировать')
										i.ni.ni-minify-nav
								li
									a.btn.js-waves-off(href='#', data-action='toggle', data-class='nav-function-fixed', data-toggle='tooltip', data-placement='right', title='Блокировать')
										i.ni.ni-lock-nav
						.ml-auto.d-flex
							a.header-icon(href= config.wowza, target='_blank', style='margin-right: 1rem; border-bottom: unset; cursor: pointer;') Wowza Streaming Engine Console
							div
								a.header-icon.d-flex.align-items-center.justify-content-center.ml-2(href='#', data-toggle='dropdown')
									img.profile-image.rounded-circle(src='/img/avatars/male.png', alt= user.username, data-toggle='tooltip', data-placement='left', title= user.username)
								.dropdown-menu.dropdown-menu-animated.dropdown-lg
									.dropdown-header.bg-trans-gradient.d-flex.flex-row.py-4.rounded-top
										.d-flex.flex-row.align-items-center.mt-1.mb-1.color-white
											span.mr-2
												img.rounded-circle.profile-image(src='/img/avatars/male.png', alt= user.username)
											.info-card-text
												.fs-lg.text-truncate.text-truncate-lg= user.name
												span.text-truncate.text-truncate-md.opacity-80= user.username
									.dropdown-divider.m-0
									.dropdown-divider.m-0
									a.dropdown-item(href='#', data-action='app-fullscreen')
										span Во весь экран
										i.float-right.text-muted.fw-n F11
									.dropdown-divider.m-0
									a.dropdown-item.fw-n.pt-3.pb-3(href='/auth/logout')
										span Выход
										span.float-right.fw-500= user.username
					//  END Page Header 
					//  BEGIN Page Content 
					//  the #js-page-content id is needed for some plugins to initialize 
					main#js-page-content.page-content(role='main')
						ol.breadcrumb.page-breadcrumb.breadcrumb-seperator-1
							li.breadcrumb-item
								a(href='/records')
									i.fal.fa-home.mr-1.fs-md
									| Записи
							li.position-absolute.pos-top.pos-right.d-none.d-sm-block
								span.js-get-date
						span#content
					//  this overlay is activated only when mobile menu is triggered
					.page-content-overlay(data-action='toggle', data-class='mobile-nav-on')
					//  END Page Content 
					//  BEGIN Page Footer 
					footer.page-footer(role='contentinfo')
						.d-flex.align-items-center.flex-1.text-muted.text-right
							span.hidden-md-down.fw-700(style='width: 100%;')
								| 2019&nbsp;-&nbsp;
								=utils.moment().format('YYYY')
								| &nbsp;©&nbsp;
								= config.app.title
								| &nbsp;by&nbsp;
								a.text-primary.fw-500(href='https://plentystars.com/', title='Plentystars, GC', target='_blank') Plentystars, GC
		//  END Page Wrapper

		script(type='text/javascript', src='/js/dependency/moment/moment.min.js')
		script(type='text/javascript', src='/js/dependency/moment/moment-timezone-with-data.min.js')
		script(type='text/javascript', src='/js/dependency/moment/moment-duration-format.js')
		script(type='text/javascript', src='/js/dependency/moment/moment-ru.js')
		script(type='text/javascript', src='/js/dependency/jstz/jstz.min.js')
		script(type='text/javascript', src='/js/dependency/store.js/store.everything.min.js')

		script(type='text/javascript', src='/js/vendors.bundle.js')
		script(type='text/javascript', src='/js/notifications/noty/noty.min.js')

		script(type='text/javascript', src='/js/app.bundle.js')

		script(type='text/javascript', src='/js/dependency/html2canvas/html2canvas.min.js')

		script(type='text/javascript', src='/js/app/libs/common.js')
		script(type='text/javascript', src='/js/app/libs/data.js')
