.row
    .col-xl-12
        #panel-records.panel
            .panel-hdr
                h2 &nbsp;
                .panel-toolbar
                    button.btn.btn-panel(data-action='panel-collapse', data-toggle='tooltip', data-offset='0,10', title='Свернуть')
                    button.btn.btn-panel(data-action='panel-fullscreen', data-toggle='tooltip', data-offset='0,10', title='Во весь экран')
            .panel-container.show
                .panel-buttons-top
                    button#btn-records-upload-file.btn.btn-outline-primary(type='button', style='width: 160px;')
                        i.fal.fa-lg.fa-upload
                        | Загрузить файл
                    button#btn-records-create-folder.btn.btn-outline-secondary(type='button', style='width: 160px;')
                        i.fal.fa-lg.fa-folder
                        | Создать папку
                .panel-content
                    table#browser.table.table-bordered.table-hover.table-striped.w-100
                        thead
                            tr
                                th
                                th
                                th
                                th
                                th Наименование
                                th(style='text-align: center !important;') Размер
                                th Модифицирован
                                th

#modal-records-helper.modal.fade(tabindex='-1', role='dialog', style='display: none;', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5#modal-records-helper-title.modal-title
                button.close(type='button', data-dismiss='modal', aria-label='Close', data-toggle='tooltip', title='Close')
                    span(aria-hidden='true')
                        i.fal.fa-times
            .modal-body
                form#modal-records-helper-form(name='modal-records-helper-form', action='#', method='post')
                    input#modal-records-helper-action(type='hidden', name='modal-records-helper-action')
                    input#modal-records-helper-path(type='hidden', name='modal-records-helper-path')
                    .form-group
                        label.form-label(for='modal-records-helper-name') Наименование
                        input#modal-records-helper-name.form-control.readonly(type='text', name='modal-records-helper-name')
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена
                button#modal-records-helper-button-save.btn.btn-success(type='button') Сохранить

#modal-records-view.modal.fade(tabindex='-1', role='dialog', style='display: none;', aria-hidden='true')
    .modal-dialog.modal-xl.modal-dialog-centered(role='document')
        .modal-content
            .modal-header
                h5#modal-records-view-title.modal-title
                button.close(type='button', data-dismiss='modal', aria-label='Close', data-toggle='tooltip', title='Close')
                    span(aria-hidden='true')
                        i.fal.fa-times
            .modal-body
                video#modal-records-view-player(width='100%', height='auto', controls, autoplay)
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Отмена

script(type='text/javascript', src='/js/app/records.js')
